In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [3]:
spark = SparkSession.builder.appName("Management Upstream").getOrCreate()

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
csv_path = "/content/drive/MyDrive/Colab Notebooks/orders_large_bad.csv"
json_path = "/content/drive/MyDrive/Colab Notebooks/orders_large_bad.json"

PHASE 1 — INGESTION & FIRST
INSPECTION

Exercises

1. Read the CSV file into a DataFrame
2. Disable schema inference and read everything as string
3. Print schema and record count
4. Display 20 random rows
5. Identify at least 5 data quality issues by observation
6. Read the JSON file and compare schema and row count with CSV

In [7]:
#1,2,3
df_csv_raw = (spark.read.option("header", "True")
              .option("inferSchema", "False").csv(csv_path))
df_csv_raw.printSchema()
df_csv_raw.count()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

300000

In [8]:
#4
import pyspark.sql.functions as F
df_csv_raw.orderBy(F.rand()).show(20,truncate = False)

+-----------+-----------+---------+-------------+-------+-------+----------+---------+
|order_id   |customer_id|city     |category     |product|amount |order_date|status   |
+-----------+-----------+---------+-------------+-------+-------+----------+---------+
|ORD00247401|C047401    | chennai |Home         |Vacuum |30435  |22/01/2024|Completed|
|ORD00149501|C049501    |Bangalore|Grocery      |Sugar  |38299  |11/02/2024|Completed|
|ORD00085352|C035352    |Pune     |Fashion      |Jeans  |1656   |2024-02-02|Completed|
|ORD00281553|C031553    |Pune     |Home         |Vacuum |37110  |2024-02-03|Completed|
|ORD00019411|C019411    |Hyderabad|Electronics  |Laptop |64240  |2024-02-01|Completed|
|ORD00192860|C042860    |Delhi    |Fashion      |Jeans  |36134  |2024-01-21|Cancelled|
|ORD00275215|C025215    |Bangalore|Fashion      |Shoes  |invalid|2024-02-25|Completed|
|ORD00263481|C013481    |Pune     |Electronics  |Mobile |33568  |2024-01-22|Completed|
|ORD00275938|C025938    |Pune     |Fashion      |TShirt |77478  |2024/02/28|Completed|
|ORD00051863|C001863    |Mumbai   | electronics |Mobile |51998  |2024-01-24|Completed|
|ORD00094999|C044999    |Kolkata  |Electronics  |Mobile |69189  |2024-01-20|Completed|
|ORD00047725|C047725    |Pune     |Grocery      |Sugar  |12,000 |2024-01-26|Completed|
|ORD00233914|C033914    |Mumbai   |Electronics  |Tablet |NULL   |2024-02-04|Completed|
|ORD00028438|C028438    |Hyderabad|Fashion      |Jeans  |28747  |2024-02-28|Completed|
|ORD00263249|C013249    |Hyderabad|Electronics  |Mobile |13449  |2024-01-30|Completed|
|ORD00249817|C049817    |Mumbai   |Electronics  |Tablet |23185  |2024-02-07|Completed|
|ORD00184588|C034588    |Hyderabad|Fashion      |Shoes  |71921  |2024-01-29|Completed|
|ORD00071529|C021529    |Bangalore|Fashion      |TShirt |3154   |2024-01-10|Completed|
|ORD00135761|C035761    |Hyderabad|Grocery      |Rice   |27366  |2024-02-11|Completed|
|ORD00020864|C020864    |Pune     |Fashion      |TShirt |22488  |2024-02-14|Completed|
+-----------+-----------+---------+-------------+-------+-------+----------+---------+
only showing top 20 rows

In [ ]:
#5
# 1. amount contains "invalid" strings
# 2. amount contains commas ("12,000")
# 3. Mixed order_date formats
# 4. status = Cancelled rows present
# 5. Data in wrong columns
# 6. Inconsistent casing in city, category, product

In [9]:
#6
df_json_raw = (spark.read.option("header", "True")
              .option("inferSchema", "False").json(json_path))
df_json_raw.printSchema()
df_json_raw.count()

root
 |-- amount: string (nullable = true)
 |-- category: string (nullable = true)
 |-- city: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- product: string (nullable = true)
 |-- status: string (nullable = true)

300000

PHASE 2 — SCHEMA ENFORCEMENT &
VALIDATION

Exercises

7. Define an explicit schema using StructType
8. Re-read the CSV using the defined schema
9. Identify rows that fail schema expectations
10. Explain why schema inference is dangerous at scale

In [10]:
#7
csv_orders_schema = StructType([
    StructField("order_id", StringType()),
    StructField("customer_id", StringType()),
    StructField("city", StringType()),
    StructField("category", StringType()),
    StructField("product", StringType()),
    StructField("amount", StringType()),
    StructField("order_date", StringType()),
    StructField("status", StringType())
])

In [12]:
#8
csv_orders_df = spark.read \
.option("header", "true") \
.schema(csv_orders_schema) \
.csv(csv_path)
csv_orders_df.printSchema()
csv_orders_df.show(5)

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
only showing top 5 rows

In [13]:
#9
invalid_schema_df = csv_orders_df.filter(csv_orders_df.order_id.isNull() | csv_orders_df.amount.isNull())
invalid_schema_df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000029|    C000029|Bangalore|    Grocery|      Sugar|  NULL|2024-01-30|Completed|
|ORD00000058|    C000058|   Mumbai|    Grocery|        Oil|  NULL|2024-02-28|Completed|
|ORD00000087|    C000087|    Delhi|Electronics|     Tablet|  NULL|2024-01-28|Completed|
|ORD00000116|    C000116|Bangalore|    Grocery|      Sugar|  NULL|2024-02-26|Completed|
|ORD00000145|    C000145|    Delhi|       Home|      Mixer|  NULL|2024-01-26|Completed|
|ORD00000174|    C000174|Bangalore|    Grocery|        Oil|  NULL|2024-02-24|Completed|
|ORD00000203|    C000203|Hyderabad|       Home|      Mixer|  NULL|2024-01-24|Completed|
|ORD00000232|    C000232|     Pune|    Fashion|     TShirt|  NULL|2024-02-22|Completed|
|ORD00000261|    C000261|  Kolkata|       Home|AirPurifier|  NULL|2024-01-22|Completed|
|ORD00000290|    C000290|  Kolkata|Electronics|     Mobile|  NULL|2024-02-20|Completed|
|ORD00000319|    C000319|  Kolkata|    Grocery|       Rice|  NULL|20/01/2024|Completed|
|ORD00000348|    C000348|     Pune|    Grocery|       Rice|  NULL|2024-02-18|Completed|
|ORD00000377|    C000377|   Mumbai|       Home|     Vacuum|  NULL|2024/01/18|Completed|
|ORD00000406|    C000406|Hyderabad|    Grocery|      Sugar|  NULL|2024-02-16|Completed|
|ORD00000435|    C000435|  Chennai|    Fashion|      Shoes|  NULL|2024-01-16|Completed|
|ORD00000464|    C000464|   Mumbai|    Grocery|      Sugar|  NULL|2024-02-14|Completed|
|ORD00000493|    C000493|  mumbai |    Grocery|        Oil|  NULL|2024-01-14|Completed|
|ORD00000522|    C000522|Hyderabad|    Fashion|      Shoes|  NULL|2024-02-12|Completed|
|ORD00000580|    C000580|Bangalore|       Home|     Vacuum|  NULL|2024-02-10|Cancelled|
|ORD00000609|    C000609|  Chennai|    Fashion|      Shoes|  NULL|2024-01-10|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

In [ ]:
#10
#Slow: Needs full/large scan.
#Wrong types: Mixed data → errors.
#Latency: Adds ingestion delay.
#Corruption: Wrong schema → lost data.
#Sampling fails: Bad sample → bad schema.
#Unstable: Different runs, different results.
#JSON pain: Nested = unpredictable.

PHASE 3 — STRING CLEANING &
STANDARDIZATION

Exercises

11. Trim leading and trailing spaces from all string columns
12. Standardize city , category , and product values
13. Convert all categorical columns to a consistent case
14. Identify how many distinct city values existed before vs after cleaning

In [15]:
#11
str_cols = csv_orders_df.columns

for col in str_cols:
  csv_orders_df = csv_orders_df.withColumn(col, F.trim(F.col(col)))
csv_orders_df.show(10, truncate=False)

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|order_id   |customer_id|city     |category   |product    |amount |order_date|status   |
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|ORD00000000|C000000    |hyderabad|grocery    |Oil        |invalid|01/01/2024|Cancelled|
|ORD00000001|C000001    |Pune     |Grocery    |Sugar      |35430  |2024-01-02|Completed|
|ORD00000002|C000002    |Pune     |Electronics|Mobile     |65358  |2024-01-03|Completed|
|ORD00000003|C000003    |Bangalore|Electronics|Laptop     |5558   |2024-01-04|Completed|
|ORD00000004|C000004    |Pune     |Home       |AirPurifier|33659  |2024-01-05|Completed|
|ORD00000005|C000005    |Delhi    |Fashion    |Jeans      |8521   |2024-01-06|Completed|
|ORD00000006|C000006    |Delhi    |Grocery    |Sugar      |42383  |2024-01-07|Completed|
|ORD00000007|C000007    |Pune     |Grocery    |Rice       |45362  |2024-01-08|Completed|
|ORD00000008|C000008    |Bangalore|Fashion    |Jeans      |10563  |2024-01-09|Completed|
|ORD00000009|C000009    |Kolkata  |Electronics|Laptop     |63715  |2024-01-10|Completed|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
only showing top 10 rows

In [16]:
#12
csv_orders_df = csv_orders_df.withColumn("city", F.upper("city")).withColumn("category", F.upper("category")) \
.withColumn("product", F.upper("product"))

csv_orders_df.select("city", "category", "product").show(10, truncate=False)

+---------+-----------+-----------+
|city     |category   |product    |
+---------+-----------+-----------+
|HYDERABAD|GROCERY    |OIL        |
|PUNE     |GROCERY    |SUGAR      |
|PUNE     |ELECTRONICS|MOBILE     |
|BANGALORE|ELECTRONICS|LAPTOP     |
|PUNE     |HOME       |AIRPURIFIER|
|DELHI    |FASHION    |JEANS      |
|DELHI    |GROCERY    |SUGAR      |
|PUNE     |GROCERY    |RICE       |
|BANGALORE|FASHION    |JEANS      |
|KOLKATA  |ELECTRONICS|LAPTOP     |
+---------+-----------+-----------+
only showing top 10 rows

In [18]:
#13
csv_orders_df = csv_orders_df.withColumn("status", F.upper("status"))
csv_orders_df.select("status").distinct().show(truncate=False)

+---------+
|status   |
+---------+
|CANCELLED|
|COMPLETED|
+---------+

In [19]:
#14
csv_orders_df.select("city").distinct().show(20, truncate=False)

+---------+
|city     |
+---------+
|KOLKATA  |
|BANGALORE|
|DELHI    |
|HYDERABAD|
|CHENNAI  |
|PUNE     |
|MUMBAI   |
+---------+

PHASE 4 — AMOUNT CLEANING (CRITICAL)

Exercises

15. Identify invalid values in the amount column
16. Remove commas from numeric strings
17. Convert amount to IntegerType safely
18. Handle empty, null, and invalid values explicitly
19. Count how many records were affected during amount cleaning

In [20]:
#15
csv_orders_df.filter(~F.col("amount").rlike("^[0-9,]+$")).show(20, truncate=False)

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|order_id   |customer_id|city     |category   |product    |amount |order_date|status   |
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|ORD00000000|C000000    |HYDERABAD|GROCERY    |OIL        |invalid|01/01/2024|CANCELLED|
|ORD00000019|C000019    |MUMBAI   |ELECTRONICS|MOBILE     |invalid|2024-01-20|COMPLETED|
|ORD00000038|C000038    |DELHI    |HOME       |VACUUM     |invalid|2024-02-08|COMPLETED|
|ORD00000057|C000057    |KOLKATA  |HOME       |AIRPURIFIER|invalid|2024-02-27|COMPLETED|
|ORD00000076|C000076    |MUMBAI   |HOME       |AIRPURIFIER|invalid|2024-01-17|COMPLETED|
|ORD00000095|C000095    |HYDERABAD|ELECTRONICS|MOBILE     |invalid|2024-02-05|COMPLETED|
|ORD00000114|C000114    |BANGALORE|HOME       |AIRPURIFIER|invalid|2024-02-24|COMPLETED|
|ORD00000133|C000133    |KOLKATA  |HOME       |VACUUM     |invalid|2024-01-14|COMPLETED|
|ORD00000152|C000152    |DELHI    |FASHION    |JEANS      |invalid|2024-02-02|COMPLETED|
|ORD00000171|C000171    |HYDERABAD|ELECTRONICS|MOBILE     |invalid|2024-02-21|COMPLETED|
|ORD00000190|C000190    |KOLKATA  |GROCERY    |RICE       |invalid|2024-01-11|COMPLETED|
|ORD00000209|C000209    |HYDERABAD|GROCERY    |SUGAR      |invalid|30/01/2024|COMPLETED|
|ORD00000228|C000228    |KOLKATA  |GROCERY    |OIL        |invalid|2024-02-18|COMPLETED|
|ORD00000247|C000247    |MUMBAI   |ELECTRONICS|TABLET     |invalid|2024/01/08|COMPLETED|
|ORD00000266|C000266    |HYDERABAD|GROCERY    |OIL        |invalid|2024-01-27|COMPLETED|
|ORD00000285|C000285    |PUNE     |ELECTRONICS|TABLET     |invalid|2024-02-15|COMPLETED|
|ORD00000304|C000304    |CHENNAI  |ELECTRONICS|MOBILE     |invalid|2024-01-05|COMPLETED|
|ORD00000323|C000323    |KOLKATA  |ELECTRONICS|TABLET     |invalid|2024-01-24|COMPLETED|
|ORD00000342|C000342    |DELHI    |ELECTRONICS|TABLET     |invalid|2024-02-12|COMPLETED|
|ORD00000361|C000361    |KOLKATA  |ELECTRONICS|MOBILE     |invalid|2024-01-02|COMPLETED|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
only showing top 20 rows

In [21]:
#16
csv_orders_df = csv_orders_df.withColumn("amount_clean", F.regexp_replace("amount", ",", ""))
csv_orders_df.select("amount", "amount_clean").show(20, truncate=False)

+-------+------------+
|amount |amount_clean|
+-------+------------+
|invalid|invalid     |
|35430  |35430       |
|65358  |65358       |
|5558   |5558        |
|33659  |33659       |
|8521   |8521        |
|42383  |42383       |
|45362  |45362       |
|10563  |10563       |
|63715  |63715       |
|66576  |66576       |
|50318  |50318       |
|84768  |84768       |
|79121  |79121       |
|79469  |79469       |
|81018  |81018       |
|64225  |64225       |
|69582  |69582       |
|50424  |50424       |
|invalid|invalid     |
+-------+------------+
only showing top 20 rows

In [22]:
#17
csv_orders_df = csv_orders_df.withColumn("amount_int",F.when(F.col("amount_clean")\
                                                             .rlike("^[0-9]+$"),F.col("amount_clean").cast("int")))

csv_orders_df.select("amount_clean", "amount_int").show(20, truncate=False)

+------------+----------+
|amount_clean|amount_int|
+------------+----------+
|invalid     |NULL      |
|35430       |35430     |
|65358       |65358     |
|5558        |5558      |
|33659       |33659     |
|8521        |8521      |
|42383       |42383     |
|45362       |45362     |
|10563       |10563     |
|63715       |63715     |
|66576       |66576     |
|50318       |50318     |
|84768       |84768     |
|79121       |79121     |
|79469       |79469     |
|81018       |81018     |
|64225       |64225     |
|69582       |69582     |
|50424       |50424     |
|invalid     |NULL      |
+------------+----------+
only showing top 20 rows

In [23]:
#18
csv_orders_df.filter(F.col("amount_int").isNull()).show(20, truncate=False)

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+------------+----------+
|order_id   |customer_id|city     |category   |product    |amount |order_date|status   |amount_clean|amount_int|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+------------+----------+
|ORD00000000|C000000    |HYDERABAD|GROCERY    |OIL        |invalid|01/01/2024|CANCELLED|invalid     |NULL      |
|ORD00000019|C000019    |MUMBAI   |ELECTRONICS|MOBILE     |invalid|2024-01-20|COMPLETED|invalid     |NULL      |
|ORD00000029|C000029    |BANGALORE|GROCERY    |SUGAR      |NULL   |2024-01-30|COMPLETED|NULL        |NULL      |
|ORD00000038|C000038    |DELHI    |HOME       |VACUUM     |invalid|2024-02-08|COMPLETED|invalid     |NULL      |
|ORD00000057|C000057    |KOLKATA  |HOME       |AIRPURIFIER|invalid|2024-02-27|COMPLETED|invalid     |NULL      |
|ORD00000058|C000058    |MUMBAI   |GROCERY    |OIL        |NULL   |2024-02-28|COMPLETED|NULL        |NULL      |
|ORD00000076|C000076    |MUMBAI   |HOME       |AIRPURIFIER|invalid|2024-01-17|COMPLETED|invalid     |NULL      |
|ORD00000087|C000087    |DELHI    |ELECTRONICS|TABLET     |NULL   |2024-01-28|COMPLETED|NULL        |NULL      |
|ORD00000095|C000095    |HYDERABAD|ELECTRONICS|MOBILE     |invalid|2024-02-05|COMPLETED|invalid     |NULL      |
|ORD00000114|C000114    |BANGALORE|HOME       |AIRPURIFIER|invalid|2024-02-24|COMPLETED|invalid     |NULL      |
|ORD00000116|C000116    |BANGALORE|GROCERY    |SUGAR      |NULL   |2024-02-26|COMPLETED|NULL        |NULL      |
|ORD00000133|C000133    |KOLKATA  |HOME       |VACUUM     |invalid|2024-01-14|COMPLETED|invalid     |NULL      |
|ORD00000145|C000145    |DELHI    |HOME       |MIXER      |NULL   |2024-01-26|COMPLETED|NULL        |NULL      |
|ORD00000152|C000152    |DELHI    |FASHION    |JEANS      |invalid|2024-02-02|COMPLETED|invalid     |NULL      |
|ORD00000171|C000171    |HYDERABAD|ELECTRONICS|MOBILE     |invalid|2024-02-21|COMPLETED|invalid     |NULL      |
|ORD00000174|C000174    |BANGALORE|GROCERY    |OIL        |NULL   |2024-02-24|COMPLETED|NULL        |NULL      |
|ORD00000190|C000190    |KOLKATA  |GROCERY    |RICE       |invalid|2024-01-11|COMPLETED|invalid     |NULL      |
|ORD00000203|C000203    |HYDERABAD|HOME       |MIXER      |NULL   |2024-01-24|COMPLETED|NULL        |NULL      |
|ORD00000209|C000209    |HYDERABAD|GROCERY    |SUGAR      |invalid|30/01/2024|COMPLETED|invalid     |NULL      |
|ORD00000228|C000228    |KOLKATA  |GROCERY    |OIL        |invalid|2024-02-18|COMPLETED|invalid     |NULL      |
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+------------+----------+
only showing top 20 rows

In [24]:
#19
csv_orders_df.filter(F.col("amount_int").isNull()).count()

25164

PHASE 5 — DATE PARSING &
NORMALIZATION

Exercises

20. Identify all date formats present in order_date
21. Parse valid dates into DateType
22. Handle invalid dates gracefully
23. Create a clean order_date_clean column
24. Count records with invalid dates

In [25]:
#20
csv_orders_df.select("order_date").distinct().show(20, False)

+----------+
|order_date|
+----------+
|2024-01-19|
|2024/01/02|
|30/01/2024|
|2024-02-08|
|2024-02-28|
|2024-01-13|
|2024/01/14|
|18/01/2024|
|27/01/2024|
|06/01/2024|
|2024-02-20|
|2024-01-06|
|2024/01/09|
|16/02/2024|
|2024-02-04|
|15/01/2024|
|2024-02-15|
|2024/02/23|
|2024-02-12|
|2024/02/25|
+----------+
only showing top 20 rows

In [26]:
#21
csv_orders_df = csv_orders_df.withColumn("order_date_clean",F.coalesce(
        F.expr("try_to_timestamp(order_date, 'yyyy-MM-dd')").cast("date"),
        F.expr("try_to_timestamp(order_date, 'yyyy/MM/dd')").cast("date"),
        F.expr("try_to_timestamp(order_date, 'dd/MM/yyyy')").cast("date"),
        F.expr("try_to_timestamp(order_date, 'dd-MM-yyyy')").cast("date")
    )
)
csv_orders_df.select("order_date", "order_date_clean").show(20, truncate=False)

+----------+----------------+
|order_date|order_date_clean|
+----------+----------------+
|01/01/2024|2024-01-01      |
|2024-01-02|2024-01-02      |
|2024-01-03|2024-01-03      |
|2024-01-04|2024-01-04      |
|2024-01-05|2024-01-05      |
|2024-01-06|2024-01-06      |
|2024-01-07|2024-01-07      |
|2024-01-08|2024-01-08      |
|2024-01-09|2024-01-09      |
|2024-01-10|2024-01-10      |
|2024-01-11|2024-01-11      |
|12/01/2024|2024-01-12      |
|2024-01-13|2024-01-13      |
|2024/01/14|2024-01-14      |
|2024-01-15|2024-01-15      |
|2024-01-16|2024-01-16      |
|2024-01-17|2024-01-17      |
|2024-01-18|2024-01-18      |
|2024-01-19|2024-01-19      |
|2024-01-20|2024-01-20      |
+----------+----------------+
only showing top 20 rows

In [27]:
#22
csv_orders_df.filter(F.col("order_date_clean").isNull()).select("order_date").show(20, truncate=False)

+------------+
|order_date  |
+------------+
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
|invalid_date|
+------------+
only showing top 20 rows

In [28]:
#23
csv_orders_df.select("order_id", "order_date", "order_date_clean").show(20, truncate=False)

+-----------+----------+----------------+
|order_id   |order_date|order_date_clean|
+-----------+----------+----------------+
|ORD00000000|01/01/2024|2024-01-01      |
|ORD00000001|2024-01-02|2024-01-02      |
|ORD00000002|2024-01-03|2024-01-03      |
|ORD00000003|2024-01-04|2024-01-04      |
|ORD00000004|2024-01-05|2024-01-05      |
|ORD00000005|2024-01-06|2024-01-06      |
|ORD00000006|2024-01-07|2024-01-07      |
|ORD00000007|2024-01-08|2024-01-08      |
|ORD00000008|2024-01-09|2024-01-09      |
|ORD00000009|2024-01-10|2024-01-10      |
|ORD00000010|2024-01-11|2024-01-11      |
|ORD00000011|12/01/2024|2024-01-12      |
|ORD00000012|2024-01-13|2024-01-13      |
|ORD00000013|2024/01/14|2024-01-14      |
|ORD00000014|2024-01-15|2024-01-15      |
|ORD00000015|2024-01-16|2024-01-16      |
|ORD00000016|2024-01-17|2024-01-17      |
|ORD00000017|2024-01-18|2024-01-18      |
|ORD00000018|2024-01-19|2024-01-19      |
|ORD00000019|2024-01-20|2024-01-20      |
+-----------+----------+----------------+
only showing top 20 rows

In [29]:
#24
csv_orders_df.filter(F.col("order_date_clean").isNull()).count()

2595

PHASE 6 — BUSINESS FILTERING &
DEDUPLICATION

Exercises

25. Identify duplicate order_id values
26. Remove duplicate orders safely
27. Keep only records with status = Completed
28. Validate record counts before and after filtering

In [30]:
#25
csv_orders_df.groupBy("order_id").count().filter(F.col("count")>1).show(20, truncate=False)

+--------+-----+
|order_id|count|
+--------+-----+
+--------+-----+

In [32]:
#26
csv_orders_df = csv_orders_df.dropDuplicates(["order_id"])
csv_orders_df.count()

before_filter_count = csv_orders_df.count()
print("Record count before Filtering: ", before_filter_count)

Record count before Filtering:  300000

In [33]:
#27
csv_orders_df = csv_orders_df.filter(F.col("status") == "COMPLETED")
after_filter_count = csv_orders_df.count()
csv_orders_df.count()

285000

In [34]:
#28
print("Record count before Filtering: ", before_filter_count)
print("Record count after Filtering: ", after_filter_count)

Record count before Filtering:  300000
Record count after Filtering:  285000

PHASE 7 — PERFORMANCE & PARTITION
AWARENESS

Exercises

29. Check the default number of partitions
30. Run a heavy groupBy and observe execution time
31. Use explain(True) to identify shuffle stages
32. Repartition the DataFrame by city
33. Compare execution plans before and after repartition

In [35]:
#29
csv_orders_df.rdd.getNumPartitions()

2

In [36]:
#30
csv_orders_df.groupBy("city").agg(F.sum("amount_int")).show(20, truncate=False)

+---------+---------------+
|city     |sum(amount_int)|
+---------+---------------+
|KOLKATA  |1624300497     |
|BANGALORE|1628527093     |
|DELHI    |1639639916     |
|HYDERABAD|1642443340     |
|CHENNAI  |1629865247     |
|PUNE     |1646196535     |
|MUMBAI   |1625518096     |
+---------+---------------+

In [37]:
#31
csv_orders_df.groupBy("city").agg(F.sum("amount_int")).explain(True)

== Parsed Logical Plan ==
'Aggregate ['city], ['city, unresolvedalias('sum('amount_int))]
+- Filter (status#535 = COMPLETED)
   +- Deduplicate [order_id#478]
      +- Deduplicate [order_id#478]
         +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, amount_int#588, coalesce(cast(try_to_timestamp(order_date#484, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false) as date)) AS order_date_clean#656]
            +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
               +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, regexp_replace(amount#483, ,, , 1) AS amount_clean#579]
                  +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, upper(status#485) AS status#535]
                     +- Project [order_id#478, customer_id#479, city#519, category#520, upper(product#482) AS product#521, amount#483, order_date#484, status#485]
                        +- Project [order_id#478, customer_id#479, city#519, upper(category#481) AS category#520, product#482, amount#483, order_date#484, status#485]
                           +- Project [order_id#478, customer_id#479, upper(city#480) AS city#519, category#481, product#482, amount#483, order_date#484, status#485]
                              +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, order_date#484, trim(status#444, None) AS status#485]
                                 +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, trim(order_date#410, None) AS order_date#484, status#444]
                                    +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, trim(amount#376, None) AS amount#483, order_date#410, status#444]
                                       +- Project [order_id#478, customer_id#479, city#480, category#481, trim(product#342, None) AS product#482, amount#376, order_date#410, status#444]
                                          +- Project [order_id#478, customer_id#479, city#480, trim(category#308, None) AS category#481, product#342, amount#376, order_date#410, status#444]
                                             +- Project [order_id#478, customer_id#479, trim(city#274, None) AS city#480, category#308, product#342, amount#376, order_date#410, status#444]
                                                +- Project [order_id#478, trim(customer_id#240, None) AS customer_id#479, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                   +- Project [trim(order_id#206, None) AS order_id#478, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                      +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, trim(status#138, None) AS status#444]
                                                         +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, trim(order_date#137, None) AS order_date#410, status#138]
                                                            +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, trim(amount#136, None) AS amount#376, order_date#137, status#138]
                                                               +- Project [order_id#206, customer_id#240, city#274, category#308, trim(product#135, None) AS product#342, amount#136, order_date#137, status#138]
                                                                  +- Project [order_id#206, customer_id#240, city#274, trim(category#134, None) AS category#308, product#135, amount#136, order_date#137, status#138]
                                                                     +- Project [order_id#206, customer_id#240, trim(city#133, None) AS city#274, category#134, product#135, amount#136, order_date#137, status#138]
                                                                        +- Project [order_id#206, trim(customer_id#132, None) AS customer_id#240, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                           +- Project [trim(order_id#131, None) AS order_id#206, customer_id#132, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                              +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Analyzed Logical Plan ==
city: string, sum(amount_int): bigint
Aggregate [city#519], [city#519, sum(amount_int#588) AS sum(amount_int)#1362L]
+- Filter (status#535 = COMPLETED)
   +- Deduplicate [order_id#478]
      +- Deduplicate [order_id#478]
         +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, amount_int#588, coalesce(cast(try_to_timestamp(order_date#484, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false) as date)) AS order_date_clean#656]
            +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
               +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, regexp_replace(amount#483, ,, , 1) AS amount_clean#579]
                  +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, upper(status#485) AS status#535]
                     +- Project [order_id#478, customer_id#479, city#519, category#520, upper(product#482) AS product#521, amount#483, order_date#484, status#485]
                        +- Project [order_id#478, customer_id#479, city#519, upper(category#481) AS category#520, product#482, amount#483, order_date#484, status#485]
                           +- Project [order_id#478, customer_id#479, upper(city#480) AS city#519, category#481, product#482, amount#483, order_date#484, status#485]
                              +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, order_date#484, trim(status#444, None) AS status#485]
                                 +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, trim(order_date#410, None) AS order_date#484, status#444]
                                    +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, trim(amount#376, None) AS amount#483, order_date#410, status#444]
                                       +- Project [order_id#478, customer_id#479, city#480, category#481, trim(product#342, None) AS product#482, amount#376, order_date#410, status#444]
                                          +- Project [order_id#478, customer_id#479, city#480, trim(category#308, None) AS category#481, product#342, amount#376, order_date#410, status#444]
                                             +- Project [order_id#478, customer_id#479, trim(city#274, None) AS city#480, category#308, product#342, amount#376, order_date#410, status#444]
                                                +- Project [order_id#478, trim(customer_id#240, None) AS customer_id#479, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                   +- Project [trim(order_id#206, None) AS order_id#478, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                      +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, trim(status#138, None) AS status#444]
                                                         +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, trim(order_date#137, None) AS order_date#410, status#138]
                                                            +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, trim(amount#136, None) AS amount#376, order_date#137, status#138]
                                                               +- Project [order_id#206, customer_id#240, city#274, category#308, trim(product#135, None) AS product#342, amount#136, order_date#137, status#138]
                                                                  +- Project [order_id#206, customer_id#240, city#274, trim(category#134, None) AS category#308, product#135, amount#136, order_date#137, status#138]
                                                                     +- Project [order_id#206, customer_id#240, trim(city#133, None) AS city#274, category#134, product#135, amount#136, order_date#137, status#138]
                                                                        +- Project [order_id#206, trim(customer_id#132, None) AS customer_id#240, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                           +- Project [trim(order_id#131, None) AS order_id#206, customer_id#132, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                              +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Optimized Logical Plan ==
Aggregate [city#1386], [city#1386, sum(amount_int#1400) AS sum(amount_int)#1362L]
+- Project [city#1386, amount_int#1400]
   +- Filter (isnotnull(status#1396) AND (status#1396 = COMPLETED))
      +- Aggregate [order_id#478], [first(city#1366, false) AS city#1386, first(status#1376, false) AS status#1396, first(amount_int#1380, false) AS amount_int#1400]
         +- Aggregate [order_id#478], [order_id#478, first(city#519, false) AS city#1366, first(status#535, false) AS status#1376, first(amount_int#588, false) AS amount_int#1380]
            +- Project [order_id#478, city#519, status#535, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
               +- Project [trim(trim(order_id#131, None), None) AS order_id#478, upper(trim(trim(city#133, None), None)) AS city#519, upper(trim(trim(status#138, None), None)) AS status#535, regexp_replace(trim(trim(amount#136, None), None), ,, , 1) AS amount_clean#579]
                  +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city#1386], functions=[sum(amount_int#1400)], output=[city#1386, sum(amount_int)#1362L])
   +- Exchange hashpartitioning(city#1386, 200), ENSURE_REQUIREMENTS, [plan_id=1698]
      +- HashAggregate(keys=[city#1386], functions=[partial_sum(amount_int#1400)], output=[city#1386, sum#1404L])
         +- Project [city#1386, amount_int#1400]
            +- Filter (isnotnull(status#1396) AND (status#1396 = COMPLETED))
               +- SortAggregate(key=[order_id#478], functions=[first(city#1366, false), first(status#1376, false), first(amount_int#1380, false)], output=[city#1386, status#1396, amount_int#1400])
                  +- SortAggregate(key=[order_id#478], functions=[partial_first(city#1366, false), partial_first(status#1376, false), partial_first(amount_int#1380, false)], output=[order_id#478, first#1411, valueSet#1412, first#1413, valueSet#1414, first#1415, valueSet#1416])
                     +- SortAggregate(key=[order_id#478], functions=[first(city#519, false), first(status#535, false), first(amount_int#588, false)], output=[order_id#478, city#1366, status#1376, amount_int#1380])
                        +- Sort [order_id#478 ASC NULLS FIRST], false, 0
                           +- Exchange hashpartitioning(order_id#478, 200), ENSURE_REQUIREMENTS, [plan_id=1689]
                              +- SortAggregate(key=[order_id#478], functions=[partial_first(city#519, false), partial_first(status#535, false), partial_first(amount_int#588, false)], output=[order_id#478, first#1423, valueSet#1424, first#1425, valueSet#1426, first#1427, valueSet#1428])
                                 +- Sort [order_id#478 ASC NULLS FIRST], false, 0
                                    +- Project [order_id#478, city#519, status#535, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
                                       +- Project [trim(trim(order_id#131, None), None) AS order_id#478, upper(trim(trim(city#133, None), None)) AS city#519, upper(trim(trim(status#138, None), None)) AS status#535, regexp_replace(trim(trim(amount#136, None), None), ,, , 1) AS amount_clean#579]
                                          +- FileScan csv [order_id#131,city#133,amount#136,status#138] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders_large_bad.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string,status:string>

In [38]:
#32
csv_orders_df = csv_orders_df.repartition("city")
csv_orders_df.rdd.getNumPartitions()

3

In [39]:
#33
csv_orders_df.groupBy("city").agg(F.sum("amount_int")).explain(True)

== Parsed Logical Plan ==
'Aggregate ['city], ['city, unresolvedalias('sum('amount_int))]
+- RepartitionByExpression [city#519]
   +- Filter (status#535 = COMPLETED)
      +- Deduplicate [order_id#478]
         +- Deduplicate [order_id#478]
            +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, amount_int#588, coalesce(cast(try_to_timestamp(order_date#484, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false) as date)) AS order_date_clean#656]
               +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
                  +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, regexp_replace(amount#483, ,, , 1) AS amount_clean#579]
                     +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, upper(status#485) AS status#535]
                        +- Project [order_id#478, customer_id#479, city#519, category#520, upper(product#482) AS product#521, amount#483, order_date#484, status#485]
                           +- Project [order_id#478, customer_id#479, city#519, upper(category#481) AS category#520, product#482, amount#483, order_date#484, status#485]
                              +- Project [order_id#478, customer_id#479, upper(city#480) AS city#519, category#481, product#482, amount#483, order_date#484, status#485]
                                 +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, order_date#484, trim(status#444, None) AS status#485]
                                    +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, trim(order_date#410, None) AS order_date#484, status#444]
                                       +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, trim(amount#376, None) AS amount#483, order_date#410, status#444]
                                          +- Project [order_id#478, customer_id#479, city#480, category#481, trim(product#342, None) AS product#482, amount#376, order_date#410, status#444]
                                             +- Project [order_id#478, customer_id#479, city#480, trim(category#308, None) AS category#481, product#342, amount#376, order_date#410, status#444]
                                                +- Project [order_id#478, customer_id#479, trim(city#274, None) AS city#480, category#308, product#342, amount#376, order_date#410, status#444]
                                                   +- Project [order_id#478, trim(customer_id#240, None) AS customer_id#479, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                      +- Project [trim(order_id#206, None) AS order_id#478, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                         +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, trim(status#138, None) AS status#444]
                                                            +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, trim(order_date#137, None) AS order_date#410, status#138]
                                                               +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, trim(amount#136, None) AS amount#376, order_date#137, status#138]
                                                                  +- Project [order_id#206, customer_id#240, city#274, category#308, trim(product#135, None) AS product#342, amount#136, order_date#137, status#138]
                                                                     +- Project [order_id#206, customer_id#240, city#274, trim(category#134, None) AS category#308, product#135, amount#136, order_date#137, status#138]
                                                                        +- Project [order_id#206, customer_id#240, trim(city#133, None) AS city#274, category#134, product#135, amount#136, order_date#137, status#138]
                                                                           +- Project [order_id#206, trim(customer_id#132, None) AS customer_id#240, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                              +- Project [trim(order_id#131, None) AS order_id#206, customer_id#132, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                                 +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Analyzed Logical Plan ==
city: string, sum(amount_int): bigint
Aggregate [city#519], [city#519, sum(amount_int#588) AS sum(amount_int)#1749L]
+- RepartitionByExpression [city#519]
   +- Filter (status#535 = COMPLETED)
      +- Deduplicate [order_id#478]
         +- Deduplicate [order_id#478]
            +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, amount_int#588, coalesce(cast(try_to_timestamp(order_date#484, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false) as date), cast(try_to_timestamp(order_date#484, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false) as date)) AS order_date_clean#656]
               +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, amount_clean#579, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
                  +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, status#535, regexp_replace(amount#483, ,, , 1) AS amount_clean#579]
                     +- Project [order_id#478, customer_id#479, city#519, category#520, product#521, amount#483, order_date#484, upper(status#485) AS status#535]
                        +- Project [order_id#478, customer_id#479, city#519, category#520, upper(product#482) AS product#521, amount#483, order_date#484, status#485]
                           +- Project [order_id#478, customer_id#479, city#519, upper(category#481) AS category#520, product#482, amount#483, order_date#484, status#485]
                              +- Project [order_id#478, customer_id#479, upper(city#480) AS city#519, category#481, product#482, amount#483, order_date#484, status#485]
                                 +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, order_date#484, trim(status#444, None) AS status#485]
                                    +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, amount#483, trim(order_date#410, None) AS order_date#484, status#444]
                                       +- Project [order_id#478, customer_id#479, city#480, category#481, product#482, trim(amount#376, None) AS amount#483, order_date#410, status#444]
                                          +- Project [order_id#478, customer_id#479, city#480, category#481, trim(product#342, None) AS product#482, amount#376, order_date#410, status#444]
                                             +- Project [order_id#478, customer_id#479, city#480, trim(category#308, None) AS category#481, product#342, amount#376, order_date#410, status#444]
                                                +- Project [order_id#478, customer_id#479, trim(city#274, None) AS city#480, category#308, product#342, amount#376, order_date#410, status#444]
                                                   +- Project [order_id#478, trim(customer_id#240, None) AS customer_id#479, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                      +- Project [trim(order_id#206, None) AS order_id#478, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, status#444]
                                                         +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, order_date#410, trim(status#138, None) AS status#444]
                                                            +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, amount#376, trim(order_date#137, None) AS order_date#410, status#138]
                                                               +- Project [order_id#206, customer_id#240, city#274, category#308, product#342, trim(amount#136, None) AS amount#376, order_date#137, status#138]
                                                                  +- Project [order_id#206, customer_id#240, city#274, category#308, trim(product#135, None) AS product#342, amount#136, order_date#137, status#138]
                                                                     +- Project [order_id#206, customer_id#240, city#274, trim(category#134, None) AS category#308, product#135, amount#136, order_date#137, status#138]
                                                                        +- Project [order_id#206, customer_id#240, trim(city#133, None) AS city#274, category#134, product#135, amount#136, order_date#137, status#138]
                                                                           +- Project [order_id#206, trim(customer_id#132, None) AS customer_id#240, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                              +- Project [trim(order_id#131, None) AS order_id#206, customer_id#132, city#133, category#134, product#135, amount#136, order_date#137, status#138]
                                                                                 +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Optimized Logical Plan ==
Aggregate [city#1773], [city#1773, sum(amount_int#1787) AS sum(amount_int)#1749L]
+- RepartitionByExpression [city#1773]
   +- Project [city#1773, amount_int#1787]
      +- Filter (isnotnull(status#1783) AND (status#1783 = COMPLETED))
         +- Aggregate [order_id#478], [first(city#1753, false) AS city#1773, first(status#1763, false) AS status#1783, first(amount_int#1767, false) AS amount_int#1787]
            +- Aggregate [order_id#478], [order_id#478, first(city#519, false) AS city#1753, first(status#535, false) AS status#1763, first(amount_int#588, false) AS amount_int#1767]
               +- Project [order_id#478, city#519, status#535, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
                  +- Project [trim(trim(order_id#131, None), None) AS order_id#478, upper(trim(trim(city#133, None), None)) AS city#519, upper(trim(trim(status#138, None), None)) AS status#535, regexp_replace(trim(trim(amount#136, None), None), ,, , 1) AS amount_clean#579]
                     +- Relation [order_id#131,customer_id#132,city#133,category#134,product#135,amount#136,order_date#137,status#138] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city#1773], functions=[sum(amount_int#1787)], output=[city#1773, sum(amount_int)#1749L])
   +- HashAggregate(keys=[city#1773], functions=[partial_sum(amount_int#1787)], output=[city#1773, sum#1791L])
      +- Exchange hashpartitioning(city#1773, 200), REPARTITION_BY_COL, [plan_id=1915]
         +- Project [city#1773, amount_int#1787]
            +- Filter (isnotnull(status#1783) AND (status#1783 = COMPLETED))
               +- SortAggregate(key=[order_id#478], functions=[first(city#1753, false), first(status#1763, false), first(amount_int#1767, false)], output=[city#1773, status#1783, amount_int#1787])
                  +- SortAggregate(key=[order_id#478], functions=[partial_first(city#1753, false), partial_first(status#1763, false), partial_first(amount_int#1767, false)], output=[order_id#478, first#1798, valueSet#1799, first#1800, valueSet#1801, first#1802, valueSet#1803])
                     +- SortAggregate(key=[order_id#478], functions=[first(city#519, false), first(status#535, false), first(amount_int#588, false)], output=[order_id#478, city#1753, status#1763, amount_int#1767])
                        +- Sort [order_id#478 ASC NULLS FIRST], false, 0
                           +- Exchange hashpartitioning(order_id#478, 200), ENSURE_REQUIREMENTS, [plan_id=1908]
                              +- SortAggregate(key=[order_id#478], functions=[partial_first(city#519, false), partial_first(status#535, false), partial_first(amount_int#588, false)], output=[order_id#478, first#1810, valueSet#1811, first#1812, valueSet#1813, first#1814, valueSet#1815])
                                 +- Sort [order_id#478 ASC NULLS FIRST], false, 0
                                    +- Project [order_id#478, city#519, status#535, CASE WHEN RLIKE(amount_clean#579, ^[0-9]+$) THEN cast(amount_clean#579 as int) END AS amount_int#588]
                                       +- Project [trim(trim(order_id#131, None), None) AS order_id#478, upper(trim(trim(city#133, None), None)) AS city#519, upper(trim(trim(status#138, None), None)) AS status#535, regexp_replace(trim(trim(amount#136, None), None), ,, , 1) AS amount_clean#579]
                                          +- FileScan csv [order_id#131,city#133,amount#136,status#138] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders_large_bad.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string,status:string>

PHASE 8 — ANALYTICS ON LARGE DATA

Exercises

34. Calculate total revenue per city
35. Calculate total revenue per category
36. Calculate total revenue per product
37. Identify top 10 products by revenue
38. Calculate average order value per city

In [40]:
#34
city_revenue_df = csv_orders_df.groupBy("city").agg(F.sum("amount_int").alias("total_revenue"))
city_revenue_df.show(20, truncate=False)

+---------+-------------+
|city     |total_revenue|
+---------+-------------+
|KOLKATA  |1624300497   |
|BANGALORE|1628527093   |
|DELHI    |1639639916   |
|HYDERABAD|1642443340   |
|CHENNAI  |1629865247   |
|PUNE     |1646196535   |
|MUMBAI   |1625518096   |
+---------+-------------+

In [41]:
#35
csv_orders_df.groupBy("category").agg(F.sum("amount_int").alias("total_revenue")).show(20, truncate=False)

+-----------+-------------+
|category   |total_revenue|
+-----------+-------------+
|HOME       |2868467576   |
|ELECTRONICS|2867568870   |
|GROCERY    |2866272106   |
|FASHION    |2834182172   |
+-----------+-------------+

In [42]:
#36
csv_orders_df.groupBy("product").agg(F.sum("amount_int").alias("total_revenue")).show(20, truncate=False)

+-----------+-------------+
|product    |total_revenue|
+-----------+-------------+
|MOBILE     |944352576    |
|SHOES      |946799102    |
|MIXER      |957140026    |
|AIRPURIFIER|952178123    |
|JEANS      |951286127    |
|RICE       |954494237    |
|TSHIRT     |936096943    |
|TABLET     |960719999    |
|OIL        |963572869    |
|SUGAR      |948205000    |
|VACUUM     |959149427    |
|LAPTOP     |962496295    |
+-----------+-------------+

In [43]:
#37
csv_orders_df.groupBy("product").agg(F.sum("amount_int").alias("total_revenue")).orderBy(F.col("total_revenue").desc()) .show(10, truncate=False)

+-----------+-------------+
|product    |total_revenue|
+-----------+-------------+
|OIL        |963572869    |
|LAPTOP     |962496295    |
|TABLET     |960719999    |
|VACUUM     |959149427    |
|MIXER      |957140026    |
|RICE       |954494237    |
|AIRPURIFIER|952178123    |
|JEANS      |951286127    |
|SUGAR      |948205000    |
|SHOES      |946799102    |
+-----------+-------------+
only showing top 10 rows

In [44]:
#38
csv_orders_df.groupBy("city").agg(F.avg("amount_int").alias("avg_order_value")).show(20, truncate=False)

+---------+------------------+
|city     |avg_order_value   |
+---------+------------------+
|KOLKATA  |43709.816662630175|
|BANGALORE|44098.867908689645|
|DELHI    |43817.20780331374 |
|HYDERABAD|43708.74045293664 |
|CHENNAI  |43628.27900315863 |
|PUNE     |43930.204013556424|
|MUMBAI   |43723.75651612556 |
+---------+------------------+

PHASE 9 — WINDOW FUNCTIONS (BIG DATA
SAFE)

Exercises

39. Rank cities by total revenue
40. Rank products within each category by revenue
41. Identify the top product per category
42. Identify top 3 cities using window functions

In [45]:
#39
city_window = Window.orderBy(F.col("total_revenue").desc())
city_revenue_df.withColumn("rank", F.rank().over(city_window)).show(20, truncate=False)

+---------+-------------+----+
|city     |total_revenue|rank|
+---------+-------------+----+
|PUNE     |1646196535   |1   |
|HYDERABAD|1642443340   |2   |
|DELHI    |1639639916   |3   |
|CHENNAI  |1629865247   |4   |
|BANGALORE|1628527093   |5   |
|MUMBAI   |1625518096   |6   |
|KOLKATA  |1624300497   |7   |
+---------+-------------+----+

In [46]:
#40
product_revenue_df = csv_orders_df.groupBy("category", "product").agg(F.sum("amount_int").alias("revenue"))
category_window = Window.partitionBy("category").orderBy(F.col("revenue").desc())
product_revenue_df.withColumn("rank", F.rank().over(category_window)).show(20, truncate=False)

+-----------+-----------+---------+----+
|category   |product    |revenue  |rank|
+-----------+-----------+---------+----+
|ELECTRONICS|LAPTOP     |962496295|1   |
|ELECTRONICS|TABLET     |960719999|2   |
|ELECTRONICS|MOBILE     |944352576|3   |
|FASHION    |JEANS      |951286127|1   |
|FASHION    |SHOES      |946799102|2   |
|FASHION    |TSHIRT     |936096943|3   |
|GROCERY    |OIL        |963572869|1   |
|GROCERY    |RICE       |954494237|2   |
|GROCERY    |SUGAR      |948205000|3   |
|HOME       |VACUUM     |959149427|1   |
|HOME       |MIXER      |957140026|2   |
|HOME       |AIRPURIFIER|952178123|3   |
+-----------+-----------+---------+----+

In [47]:
#41
product_revenue_df.withColumn("rank", F.rank().over(category_window)) .filter(F.col("rank") == 1).show(20, truncate=False)

+-----------+-------+---------+----+
|category   |product|revenue  |rank|
+-----------+-------+---------+----+
|ELECTRONICS|LAPTOP |962496295|1   |
|FASHION    |JEANS  |951286127|1   |
|GROCERY    |OIL    |963572869|1   |
|HOME       |VACUUM |959149427|1   |
+-----------+-------+---------+----+

In [48]:
#42
city_revenue_df.withColumn("rank", F.rank().over(city_window)).filter(F.col("rank") <= 3).show()

+---------+-------------+----+
|     city|total_revenue|rank|
+---------+-------------+----+
|     PUNE|   1646196535|   1|
|HYDERABAD|   1642443340|   2|
|    DELHI|   1639639916|   3|
+---------+-------------+----+

PHASE 10 — CACHING & REUSE

Exercises

43. Identify DataFrames reused multiple times
44. Apply caching strategically
45. Re-run analytics and observe performance
46. Unpersist when cache is no longer needed
47. Explain why over-caching is dangerous

In [ ]:
#43
#csv_orders_df is reused in multiple aggregations

In [49]:
#44
csv_orders_df.cache()

DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, amount_clean: string, amount_int: int, order_date_clean: date]

In [50]:
#45
csv_orders_df.groupBy("city").agg(F.sum("amount_int").alias("total_revenue")).show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|  KOLKATA|   1624300497|
|BANGALORE|   1628527093|
|    DELHI|   1639639916|
|HYDERABAD|   1642443340|
|  CHENNAI|   1629865247|
|     PUNE|   1646196535|
|   MUMBAI|   1625518096|
+---------+-------------+

In [51]:
#46
csv_orders_df.unpersist()

DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, amount_clean: string, amount_int: int, order_date_clean: date]

In [52]:
#47
#consumes executor memory
#causes disk spill
#slows other spark jobs
#can crash executions

PHASE 11 — FILE FORMAT STRATEGY

Exercises

48. Write the cleaned order-level dataset to Parquet
49. Partition the Parquet output by city
50. Write aggregated analytics to ORC
51. Read both formats back and validate schema
52. Compare number of output files generated

In [53]:
#48
csv_orders_df.write.mode("overwrite").parquet("/content/orders_parquet")

In [54]:
#49
csv_orders_df.write.mode("overwrite").partitionBy("city").parquet("/content/orders_parquet_city")

In [55]:
#50
city_revenue_df.write.mode("overwrite").orc("/content/city_revenue_orc")

In [56]:
#51
spark.read.parquet("/content/orders_parquet_city").printSchema()
spark.read.orc("/content/city_revenue_orc").printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)
 |-- amount_clean: string (nullable = true)
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)
 |-- city: string (nullable = true)

root
 |-- city: string (nullable = true)
 |-- total_revenue: long (nullable = true)

In [57]:
#52
spark.read.parquet("/content/orders_parquet_city").rdd.getNumPartitions()

2

PHASE 12 — DEBUGGING & FAILURE
SCENARIOS

Exercises

53. Explain why the following line breaks pipelines:

df = df.filter(df.amount > 50000).show()

54. Create a scenario that produces a NoneType error
55. Identify a transformation that causes a wide shuffle
56. Explain how you would debug a slow Spark job

In [58]:
#53
csv_orders_df = csv_orders_df.filter(csv_orders_df.amount > 50000).show()

{"ts": "2025-12-26 12:41:31.316", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value '12,000' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"file": "line 2 in cell [58]", "line": "", "fragment": "__gt__", "errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o490.showString.\n: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '12,000' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== DataFrame ==\n\"__gt__\" was called from\nline 2 in cell [58]\n\n\tat org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:171)\n\tat org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:57)\n\tat org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:111)\n\tat org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.12/dist-packages/py4j/protocol.py", "line": "327"}]}}

NumberFormatException: [CAST_INVALID_INPUT] The value '12,000' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== DataFrame ==
"__gt__" was called from
line 2 in cell [58]

In [59]:
#54
df = csv_orders_df.show()
df.count()

+-----------+-----------+-------+-----------+-----------+-------+----------+---------+------------+----------+----------------+
|   order_id|customer_id|   city|   category|    product| amount|order_date|   status|amount_clean|amount_int|order_date_clean|
+-----------+-----------+-------+-----------+-----------+-------+----------+---------+------------+----------+----------------+
|ORD00000011|    C000011|KOLKATA|ELECTRONICS|     TABLET|  50318|12/01/2024|COMPLETED|       50318|     50318|      2024-01-12|
|ORD00000036|    C000036|KOLKATA|    GROCERY|        OIL|  29253|2024-02-06|COMPLETED|       29253|     29253|      2024-02-06|
|ORD00000048|    C000048|KOLKATA|    FASHION|      JEANS|  51000|2024-02-18|COMPLETED|       51000|     51000|      2024-02-18|
|ORD00000054|    C000054|KOLKATA|    GROCERY|        OIL|  26434|2024-02-24|COMPLETED|       26434|     26434|      2024-02-24|
|ORD00000104|    C000104|KOLKATA|    FASHION|      JEANS|  32476|2024/02/14|COMPLETED|       32476|     32476|      2024-02-14|
|ORD00000129|    C000129|KOLKATA|    GROCERY|       RICE|  26170|2024-01-10|COMPLETED|       26170|     26170|      2024-01-10|
|ORD00000133|    C000133|KOLKATA|       HOME|     VACUUM|invalid|2024-01-14|COMPLETED|     invalid|      NULL|      2024-01-14|
|ORD00000137|    C000137|KOLKATA|    FASHION|     TSHIRT|   1508|2024-01-18|COMPLETED|        1508|      1508|      2024-01-18|
|ORD00000142|    C000142|KOLKATA|ELECTRONICS|     TABLET|  47592|2024-01-23|COMPLETED|       47592|     47592|      2024-01-23|
|ORD00000165|    C000165|KOLKATA|       HOME|      MIXER|  38515|15/02/2024|COMPLETED|       38515|     38515|      2024-02-15|
|ORD00000182|    C000182|KOLKATA|       HOME|AIRPURIFIER|   4691|2024/01/03|COMPLETED|        4691|      4691|      2024-01-03|
|ORD00000184|    C000184|KOLKATA|    FASHION|      SHOES| 12,000|2024-01-05|COMPLETED|       12000|     12000|      2024-01-05|
|ORD00000187|    C000187|KOLKATA|    FASHION|      JEANS|  35618|08/01/2024|COMPLETED|       35618|     35618|      2024-01-08|
|ORD00000190|    C000190|KOLKATA|    GROCERY|       RICE|invalid|2024-01-11|COMPLETED|     invalid|      NULL|      2024-01-11|
|ORD00000192|    C000192|KOLKATA|    FASHION|     TSHIRT|  50459|2024-01-13|COMPLETED|       50459|     50459|      2024-01-13|
|ORD00000193|    C000193|KOLKATA|    FASHION|      JEANS|  50873|2024-01-14|COMPLETED|       50873|     50873|      2024-01-14|
|ORD00000195|    C000195|KOLKATA|    GROCERY|       RICE|  79408|2024/01/16|COMPLETED|       79408|     79408|      2024-01-16|
|ORD00000199|    C000199|KOLKATA|    FASHION|     TSHIRT|  81808|2024-01-20|COMPLETED|       81808|     81808|      2024-01-20|
|ORD00000206|    C000206|KOLKATA|    GROCERY|       RICE|  16365|2024-01-27|COMPLETED|       16365|     16365|      2024-01-27|
|ORD00000228|    C000228|KOLKATA|    GROCERY|        OIL|invalid|2024-02-18|COMPLETED|     invalid|      NULL|      2024-02-18|
+-----------+-----------+-------+-----------+-----------+-------+----------+---------+------------+----------+----------------+
only showing top 20 rows

AttributeError: 'NoneType' object has no attribute 'count'

In [ ]:
#55
#causes wide shuffle
#groupBy(), join(), distinct(), orderBy()

In [ ]:
#56
#explain(True)
#Spark UI
#Check skew
#Optimize partitions
#Broadcast joins

PHASE 13 — FINAL VALIDATION

Exercises

57. Validate no nulls in critical columns
58. Confirm correct data types for all columns
59. Validate final record count
60. Document three optimization decisions you made

In [60]:
#57
csv_orders_df.filter(
    F.col("order_id").isNull() |
    F.col("amount_int").isNull() |
    F.col("order_date_clean").isNull()
).count()

26166

In [61]:
#58
csv_orders_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)
 |-- amount_clean: string (nullable = true)
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)

In [62]:
#59
csv_orders_df.count()

285000

In [ ]:
#60
#Explicit schema enforcement
#Repartition by city
#Strategic caching after data cleaning