##CASE STUDY 1
Title: Order Processing and Analytics Pipeline using PySpark

A retail company operates in multiple cities and receives daily order data from its transactional
systems.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder.appName("Capstone One").getOrCreate()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
csv_path ="/content/drive/MyDrive/Colab Notebooks/orders.csv"

##PHASE 1 – Data Ingestion

1. Load the CSV le without schema inference.
2. Print the schema.
3. Count total records.
4. Show sample rows.

In [5]:
df_csv_raw = (spark.read.option("header", "True")
              .option("inferSchema", "False").csv(csv_path))
df_csv_raw.printSchema()
df_csv_raw.count()
df_csv_raw.show(10, truncate=False)

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|order_id   |customer_id|city       |category   |product    |amount |order_date|status   |
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|ORD00000000|C000000    | hyderabad | grocery   |Oil        |invalid|01/01/2024|Cancelled|
|ORD00000001|C000001    |Pune       |Grocery    |Sugar      |35430  |2024-01-02|Completed|
|ORD00000002|C000002    |Pune       |Electronics|Mobile     |65358  |2024-01-03|Completed|
|ORD00000003|C000003    |Bangalore  |Electronics|Laptop     |5558   |2024-01-04|Completed|
|ORD00000004|C000004    |Pune       |Home       |AirPurifier|33659  |2024-01-05|Completed|
|ORD00000005|C000005    |Delhi      |Fashion    |Jeans      |8521   |2024-01-06|Completed|
|ORD00000006|C000006    |Delhi      |Grocery    |Sugar      |42383  |2024-01-07|Completed|
|ORD00000007|C000007    |Pune       |Grocery    |Rice       |45362  |2024-01-08|Completed|
|ORD00000008|C000008    |Bangalore  |Fashion    |Jeans      |10563  |2024-01-09|Completed|
|ORD00000009|C000009    |Kolkata    |Electronics|Laptop     |63715  |2024-01-10|Completed|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
only showing top 10 rows

5. Explain why all columns must be treated as StringType initially.

In [6]:
#Reading all columns as StringType initially :
#1 Prevents job failure due to malformed data
#2 Supports multiple date formats
#3 Allows custom validation and error handling

##PHASE 2 – Data Cleaning

1. Remove leading and trailing spaces from:
- city
- category
- product

2. Standardize text:
- Convert city, category, and product to proper case.

In [7]:
df_clean = df_csv_raw \
    .withColumn("city_clean", initcap(trim(lower(col("city"))))) \
    .withColumn("category_clean", initcap(trim(lower(col("category"))))) \
    .withColumn("product_clean", initcap(trim(lower(col("product")))))
df_clean.show(10)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled| Hyderabad|       Grocery|          Oil|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|      Pune|   Electronics|       Mobile|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed| Bangalore|   Electronics|       Laptop|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|      Pune|          Home|  Airpurifier|
|ORD00000005|    C000005|      Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|     Delhi|       Fashion|        Jeans|
|ORD00000006|    C000006|      Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|     Delhi|       Grocery|        Sugar|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|
|ORD00000009|    C000009|    Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|   Kolkata|   Electronics|       Laptop|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+
only showing top 10 rows

3. Clean the amount column:
- Remove commas.
- Replace empty strings and invalid values with null.
- Convert amount into IntegerType.
- Rows with invalid amounts must not crash the pipeline.

In [8]:
df_clean = df_clean.withColumn("amount_clean",regexp_replace(col("amount"), ",", ""))

df_clean = df_clean.withColumn("amount_int",when(col("amount_clean").rlike("^[0-9]+$"),col("amount_clean").cast(IntegerType())).otherwise(None))
df_clean.show(10)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled| Hyderabad|       Grocery|          Oil|     invalid|      NULL|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|      Pune|   Electronics|       Mobile|       65358|     65358|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed| Bangalore|   Electronics|       Laptop|        5558|      5558|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|      Pune|          Home|  Airpurifier|       33659|     33659|
|ORD00000005|    C000005|      Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|     Delhi|       Fashion|        Jeans|        8521|      8521|
|ORD00000006|    C000006|      Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|     Delhi|       Grocery|        Sugar|       42383|     42383|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|
|ORD00000009|    C000009|    Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|   Kolkata|   Electronics|       Laptop|       63715|     63715|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+
only showing top 10 rows

4. Clean the order_date column:
- Support the following formats:
- yyyy-MM-dd
- dd/MM/yyyy
- yyyy/MM/dd

- Create a new column:

order_date_clean
with DateType.

In [9]:
df_clean=df_clean.withColumn("order_date_clean",
    coalesce(
        try_to_timestamp(col("order_date"), lit("yyyy-MM-dd")),
        try_to_timestamp(col("order_date"), lit("dd-MM-yyyy")),
        try_to_timestamp(col("order_date"), lit("MM-dd-yyyy")),
        try_to_timestamp(col("order_date"), lit("dd/MM/yyyy")),
        try_to_timestamp(col("order_date"), lit("MM/dd/yyyy")),
        try_to_timestamp(col("order_date"), lit("yyyy/MM/dd"))
    ).cast(DateType())
)
df_clean.show()

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled| Hyderabad|       Grocery|          Oil|     invalid|      NULL|      2024-01-01|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|      2024-01-02|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|      Pune|   Electronics|       Mobile|       65358|     65358|      2024-01-03|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed| Bangalore|   Electronics|       Laptop|        5558|      5558|      2024-01-04|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|      Pune|          Home|  Airpurifier|       33659|     33659|      2024-01-05|
|ORD00000005|    C000005|      Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|     Delhi|       Fashion|        Jeans|        8521|      8521|      2024-01-06|
|ORD00000006|    C000006|      Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|     Delhi|       Grocery|        Sugar|       42383|     42383|      2024-01-07|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|      2024-01-08|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|      2024-01-09|
|ORD00000009|    C000009|    Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|   Kolkata|   Electronics|       Laptop|       63715|     63715|      2024-01-10|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|
|ORD00000013|    C000013|       Pune|    Fashion|     TShirt|  79121|2024/01/14|Completed|      Pune|       Fashion|       Tshirt|       79121|     79121|      2024-01-14|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|
|ORD00000016|    C000016|     Mumbai|       Home|      Mixer|  64225|2024-01-17|Completed|    Mumbai|          Home|        Mixer|       64225|     64225|      2024-01-17|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|
|ORD00000018|    C000018|    Kolkata|    Fashion|      Jeans|  50424|2024-01-19|Completed|   Kolkata|       Fashion|        Jeans|       50424|     50424|      2024-01-19|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|    Mumbai|   Electronics|       Mobile|     invalid|      NULL|      2024-01-20|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
only showing top 20 rows

##PHASE 3 – Data Validation

1. Count how many records had invalid amounts

In [10]:
invalid_amount_count = df_clean.filter(col("amount_int").isNull()).count()
print("Invalid Amount Count:", invalid_amount_count)

Invalid Amount Count: 25164

2. Count how many records had invalid dates.

In [11]:
invalid_date_count = df_clean.filter(col("order_date_clean").isNull()).count()
print("Invalid Date Count:", invalid_date_count)

Invalid Date Count: 2595

3. Identify duplicate order_id values.

In [12]:
duplicate_orders = df_clean.groupBy("order_id").count().filter(col("count") > 1)

4. Remove duplicates using order_id.

In [13]:
df_dedup = df_clean.dropDuplicates(["order_id"])
df_dedup.show()

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|      2024-01-02|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|      2024-01-08|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|      2024-01-09|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|    Mumbai|   Electronics|       Mobile|     invalid|      NULL|      2024-01-20|
|ORD00000022|    C000022|     Mumbai|    Grocery|      Sugar|  48832|23/01/2024|Completed|    Mumbai|       Grocery|        Sugar|       48832|     48832|      2024-01-23|
|ORD00000023|    C000023|  Hyderabad|Electronics|     Mobile| 12,000|2024-01-24|Completed| Hyderabad|   Electronics|       Mobile|       12000|     12000|      2024-01-24|
|ORD00000024|    C000024|  Bangalore|       Home|      Mixer|  18082|2024-01-25|Completed| Bangalore|          Home|        Mixer|       18082|     18082|      2024-01-25|
|ORD00000025|    C000025|  Bangalore|       Home|AirPurifier|  58248|2024-01-26|Completed| Bangalore|          Home|  Airpurifier|       58248|     58248|      2024-01-26|
|ORD00000028|    C000028|     Mumbai|    Grocery|      Sugar|  70675|2024-01-29|Completed|    Mumbai|       Grocery|        Sugar|       70675|     70675|      2024-01-29|
|ORD00000030|    C000030|       Pune|       Home|AirPurifier|  52112|2024-01-31|Completed|      Pune|          Home|  Airpurifier|       52112|     52112|      2024-01-31|
|ORD00000031|    C000031|    Chennai|   grocery |        Oil|  51151|2024-02-01|Completed|   Chennai|       Grocery|          Oil|       51151|     51151|      2024-02-01|
|ORD00000032|    C000032|    Chennai|       Home|     Vacuum|  75797|2024-02-02|Completed|   Chennai|          Home|       Vacuum|       75797|     75797|      2024-02-02|
|ORD00000034|    C000034|      pune |    Grocery|      Sugar|  40915|2024-02-04|Completed|      Pune|       Grocery|        Sugar|       40915|     40915|      2024-02-04|
|ORD00000036|    C000036|    Kolkata|    Grocery|        Oil|  29253|2024-02-06|Completed|   Kolkata|       Grocery|          Oil|       29253|     29253|      2024-02-06|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
only showing top 20 rows

5. Filter only records with:
status = "Completed"

In [14]:
df_final = df_dedup.filter(lower(col("status")) == "completed")
df_final.show(25)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|      2024-01-02|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|      2024-01-08|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|      2024-01-09|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|    Mumbai|   Electronics|       Mobile|     invalid|      NULL|      2024-01-20|
|ORD00000022|    C000022|     Mumbai|    Grocery|      Sugar|  48832|23/01/2024|Completed|    Mumbai|       Grocery|        Sugar|       48832|     48832|      2024-01-23|
|ORD00000023|    C000023|  Hyderabad|Electronics|     Mobile| 12,000|2024-01-24|Completed| Hyderabad|   Electronics|       Mobile|       12000|     12000|      2024-01-24|
|ORD00000024|    C000024|  Bangalore|       Home|      Mixer|  18082|2024-01-25|Completed| Bangalore|          Home|        Mixer|       18082|     18082|      2024-01-25|
|ORD00000025|    C000025|  Bangalore|       Home|AirPurifier|  58248|2024-01-26|Completed| Bangalore|          Home|  Airpurifier|       58248|     58248|      2024-01-26|
|ORD00000028|    C000028|     Mumbai|    Grocery|      Sugar|  70675|2024-01-29|Completed|    Mumbai|       Grocery|        Sugar|       70675|     70675|      2024-01-29|
|ORD00000030|    C000030|       Pune|       Home|AirPurifier|  52112|2024-01-31|Completed|      Pune|          Home|  Airpurifier|       52112|     52112|      2024-01-31|
|ORD00000031|    C000031|    Chennai|   grocery |        Oil|  51151|2024-02-01|Completed|   Chennai|       Grocery|          Oil|       51151|     51151|      2024-02-01|
|ORD00000032|    C000032|    Chennai|       Home|     Vacuum|  75797|2024-02-02|Completed|   Chennai|          Home|       Vacuum|       75797|     75797|      2024-02-02|
|ORD00000034|    C000034|      pune |    Grocery|      Sugar|  40915|2024-02-04|Completed|      Pune|       Grocery|        Sugar|       40915|     40915|      2024-02-04|
|ORD00000036|    C000036|    Kolkata|    Grocery|        Oil|  29253|2024-02-06|Completed|   Kolkata|       Grocery|          Oil|       29253|     29253|      2024-02-06|
|ORD00000038|    C000038|      Delhi|       Home|     Vacuum|invalid|2024-02-08|Completed|     Delhi|          Home|       Vacuum|     invalid|      NULL|      2024-02-08|
|ORD00000039|    C000039|       Pune|    Grocery|        Oil|  73088|2024/02/09|Completed|      Pune|       Grocery|          Oil|       73088|     73088|      2024-02-09|
|ORD00000041|    C000041|    Chennai|    Fashion|      Jeans|   2704|2024-02-11|Completed|   Chennai|       Fashion|        Jeans|        2704|      2704|      2024-02-11|
|ORD00000042|    C000042|      Delhi|       Home|     Vacuum|  83855|2024-02-12|Completed|     Delhi|          Home|       Vacuum|       83855|     83855|      2024-02-12|
|ORD00000043|    C000043|  Hyderabad|       Home|AirPurifier|  82061|2024-02-13|Completed| Hyderabad|          Home|  Airpurifier|       82061|     82061|      2024-02-13|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
only showing top 25 rows

6. Record row counts at every stage

In [15]:
print("Raw:", df_csv_raw.count())
print("After Deleted duplicate:", df_dedup.count())
print("Final:", df_final.count())

Raw: 300000
After Deleted duplicate: 300000
Final: 285000

##PHASE 4 – Performance Engineering

1. Check the number of partitions.

In [16]:
df_final.rdd.getNumPartitions()

2

2. Run a groupBy on city and calculate total revenue.

In [17]:
city_revenue = df_final.groupBy("city_clean").agg(sum("amount_int").alias("total_revenue"))
city_revenue.show()

+----------+-------------+
|city_clean|total_revenue|
+----------+-------------+
| Bangalore|   1628527093|
|   Chennai|   1629865247|
|    Mumbai|   1625518096|
|   Kolkata|   1624300497|
|      Pune|   1646196535|
|     Delhi|   1639639916|
| Hyderabad|   1642443340|
+----------+-------------+

5. Repartition the dataset by city.

In [18]:
df_repart = df_final.repartition("city_clean")
city_revenue_after = df_repart.groupBy("city_clean").sum("amount_int")
city_revenue_after.show()

+----------+---------------+
|city_clean|sum(amount_int)|
+----------+---------------+
| Bangalore|     1628527093|
|   Chennai|     1629865247|
|    Mumbai|     1625518096|
|   Kolkata|     1624300497|
|      Pune|     1646196535|
|     Delhi|     1639639916|
| Hyderabad|     1642443340|
+----------+---------------+

3. Use:
explain(True) to analyze execution.
4. Identify where shuffle happens.
6. Compare execution plans before and after repartition.

In [19]:
city_revenue.explain(True)
city_revenue_after.explain(True)

== Parsed Logical Plan ==
'Aggregate ['city_clean], ['city_clean, 'sum('amount_int) AS total_revenue#887]
+- Filter (lower(status#24) = completed)
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
         +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
            +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
               +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
                  +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
                     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
                        +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
city_clean: string, total_revenue: bigint
Aggregate [city_clean#71], [city_clean#71, sum(amount_int#117) AS total_revenue#887L]
+- Filter (lower(status#24) = completed)
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
         +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
            +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
               +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
                  +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
                     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
                        +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Aggregate [city_clean#1087], [city_clean#1087, sum(amount_int#1095) AS total_revenue#887L]
+- Project [city_clean#1087, amount_int#1095]
   +- Filter (isnotnull(status#1085) AND (lower(status#1085) = completed))
      +- Aggregate [order_id#17], [first(status#24, false) AS status#1085, first(city_clean#71, false) AS city_clean#1087, first(amount_int#117, false) AS amount_int#1095]
         +- Project [order_id#17, status#24, city_clean#71, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117]
            +- Project [order_id#17, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
               +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city_clean#1087], functions=[sum(amount_int#1095)], output=[city_clean#1087, total_revenue#887L])
   +- Exchange hashpartitioning(city_clean#1087, 200), ENSURE_REQUIREMENTS, [plan_id=1097]
      +- HashAggregate(keys=[city_clean#1087], functions=[partial_sum(amount_int#1095)], output=[city_clean#1087, sum#1099L])
         +- Project [city_clean#1087, amount_int#1095]
            +- Filter (isnotnull(status#1085) AND (lower(status#1085) = completed))
               +- SortAggregate(key=[order_id#17], functions=[first(status#24, false), first(city_clean#71, false), first(amount_int#117, false)], output=[status#1085, city_clean#1087, amount_int#1095])
                  +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                     +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=1090]
                        +- SortAggregate(key=[order_id#17], functions=[partial_first(status#24, false), partial_first(city_clean#71, false), partial_first(amount_int#117, false)], output=[order_id#17, first#1106, valueSet#1107, first#1108, valueSet#1109, first#1110, valueSet#1111])
                           +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                              +- Project [order_id#17, status#24, city_clean#71, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117]
                                 +- Project [order_id#17, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
                                    +- FileScan csv [order_id#17,city#19,amount#22,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string,status:string>

== Parsed Logical Plan ==
'Aggregate ['city_clean], ['city_clean, unresolvedalias('sum(amount_int#117))]
+- RepartitionByExpression [city_clean#71]
   +- Filter (lower(status#24) = completed)
      +- Deduplicate [order_id#17]
         +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
            +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
               +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
                  +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
                     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
                        +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
                           +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
city_clean: string, sum(amount_int): bigint
Aggregate [city_clean#71], [city_clean#71, sum(amount_int#117) AS sum(amount_int)#996L]
+- RepartitionByExpression [city_clean#71]
   +- Filter (lower(status#24) = completed)
      +- Deduplicate [order_id#17]
         +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
            +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
               +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
                  +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
                     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
                        +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
                           +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Aggregate [city_clean#1127], [city_clean#1127, sum(amount_int#1135) AS sum(amount_int)#996L]
+- RepartitionByExpression [city_clean#1127]
   +- Project [city_clean#1127, amount_int#1135]
      +- Filter (isnotnull(status#1125) AND (lower(status#1125) = completed))
         +- Aggregate [order_id#17], [first(status#24, false) AS status#1125, first(city_clean#71, false) AS city_clean#1127, first(amount_int#117, false) AS amount_int#1135]
            +- Project [order_id#17, status#24, city_clean#71, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117]
               +- Project [order_id#17, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
                  +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city_clean#1127], functions=[sum(amount_int#1135)], output=[city_clean#1127, sum(amount_int)#996L])
   +- HashAggregate(keys=[city_clean#1127], functions=[partial_sum(amount_int#1135)], output=[city_clean#1127, sum#1139L])
      +- Exchange hashpartitioning(city_clean#1127, 200), REPARTITION_BY_COL, [plan_id=1143]
         +- Project [city_clean#1127, amount_int#1135]
            +- Filter (isnotnull(status#1125) AND (lower(status#1125) = completed))
               +- SortAggregate(key=[order_id#17], functions=[first(status#24, false), first(city_clean#71, false), first(amount_int#117, false)], output=[status#1125, city_clean#1127, amount_int#1135])
                  +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                     +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=1138]
                        +- SortAggregate(key=[order_id#17], functions=[partial_first(status#24, false), partial_first(city_clean#71, false), partial_first(amount_int#117, false)], output=[order_id#17, first#1146, valueSet#1147, first#1148, valueSet#1149, first#1150, valueSet#1151])
                           +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                              +- Project [order_id#17, status#24, city_clean#71, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117]
                                 +- Project [order_id#17, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
                                    +- FileScan csv [order_id#17,city#19,amount#22,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string,status:string>

##PHASE 5 – Analytics

1. Total revenue per city.
2. Total revenue per category.
3. Average order value per city.
4. Top 10 products by revenue.
5. Cities sorted by revenue descending.

In [20]:
#1
df_final.groupBy("city_clean").sum("amount_int").show()

#2
df_final.groupBy("category_clean").sum("amount_int").show()

#3
df_final.groupBy("city_clean").avg("amount_int").show()

#4
df_final.groupBy("product_clean").sum("amount_int").orderBy(desc("sum(amount_int)")).limit(10).show()

#5
city_revenue.orderBy(col("total_revenue").desc()).show(5)

+----------+---------------+
|city_clean|sum(amount_int)|
+----------+---------------+
| Bangalore|     1628527093|
|   Chennai|     1629865247|
|    Mumbai|     1625518096|
|   Kolkata|     1624300497|
|      Pune|     1646196535|
|     Delhi|     1639639916|
| Hyderabad|     1642443340|
+----------+---------------+

+--------------+---------------+
|category_clean|sum(amount_int)|
+--------------+---------------+
|          Home|     2868467576|
|       Fashion|     2834182172|
|       Grocery|     2866272106|
|   Electronics|     2867568870|
+--------------+---------------+

+----------+------------------+
|city_clean|   avg(amount_int)|
+----------+------------------+
| Bangalore|44098.867908689645|
|   Chennai| 43628.27900315863|
|    Mumbai| 43723.75651612556|
|   Kolkata|43709.816662630175|
|      Pune|43930.204013556424|
|     Delhi| 43817.20780331374|
| Hyderabad| 43708.74045293664|
+----------+------------------+

+-------------+---------------+
|product_clean|sum(amount_int)|
+-------------+---------------+
|          Oil|      963572869|
|       Laptop|      962496295|
|       Tablet|      960719999|
|       Vacuum|      959149427|
|        Mixer|      957140026|
|         Rice|      954494237|
|  Airpurifier|      952178123|
|        Jeans|      951286127|
|        Sugar|      948205000|
|        Shoes|      946799102|
+-------------+---------------+

+----------+-------------+
|city_clean|total_revenue|
+----------+-------------+
|      Pune|   1646196535|
| Hyderabad|   1642443340|
|     Delhi|   1639639916|
|   Chennai|   1629865247|
| Bangalore|   1628527093|
+----------+-------------+
only showing top 5 rows

##PHASE 6 – Window Functions

1. Rank cities by revenue.

In [21]:
city_window = Window.orderBy(desc("total_revenue"))
ranked_cities = city_revenue.withColumn("rank", rank().over(city_window))
ranked_cities.show(5)

+----------+-------------+----+
|city_clean|total_revenue|rank|
+----------+-------------+----+
|      Pune|   1646196535|   1|
| Hyderabad|   1642443340|   2|
|     Delhi|   1639639916|   3|
|   Chennai|   1629865247|   4|
| Bangalore|   1628527093|   5|
+----------+-------------+----+
only showing top 5 rows

2. Rank products inside each category by revenue

In [22]:
category_window = Window.partitionBy("category_clean").orderBy(desc("total_revenue"))

 3. Find the top product for every category.

In [24]:
df_product_revenue = df_final.groupBy("category_clean", "product_clean").agg(sum("amount_int").alias("total_revenue_per_product"))
category_product_window = Window.partitionBy("category_clean").orderBy(desc("total_revenue_per_product"))
df_ranked_products = df_product_revenue.withColumn("rank", rank().over(category_product_window))
df_ranked_products.show()

+--------------+-------------+-------------------------+----+
|category_clean|product_clean|total_revenue_per_product|rank|
+--------------+-------------+-------------------------+----+
|   Electronics|       Laptop|                962496295|   1|
|   Electronics|       Tablet|                960719999|   2|
|   Electronics|       Mobile|                944352576|   3|
|       Fashion|        Jeans|                951286127|   1|
|       Fashion|        Shoes|                946799102|   2|
|       Fashion|       Tshirt|                936096943|   3|
|       Grocery|          Oil|                963572869|   1|
|       Grocery|         Rice|                954494237|   2|
|       Grocery|        Sugar|                948205000|   3|
|          Home|       Vacuum|                959149427|   1|
|          Home|        Mixer|                957140026|   2|
|          Home|  Airpurifier|                952178123|   3|
+--------------+-------------+-------------------------+----+

4. Identify the top 3 performing cities.

In [25]:
ranked_cities.filter(col("rank") <= 3).show()

+----------+-------------+----+
|city_clean|total_revenue|rank|
+----------+-------------+----+
|      Pune|   1646196535|   1|
| Hyderabad|   1642443340|   2|
|     Delhi|   1639639916|   3|
+----------+-------------+----+

##PHASE 7 – Broadcast Join

A small lookup table is provided:

city,region

Delhi,North

Mumbai,West

Bangalore,South

Hyderabad,South

Pune,West

Chennai,South

Kolkata,East

Tasks:
1. Join the orders data with this city-region dataset.
2. Apply broadcast join explicitly.

In [26]:
city_region = spark.createDataFrame([
    ("Delhi", "North"),
    ("Mumbai", "West"),
    ("Bangalore", "South"),
    ("Hyderabad", "South"),
    ("Pune", "West"),
    ("Chennai", "South"),
    ("Kolkata", "East")], ["city", "region"])

joined_df = df_final.join(broadcast(city_region),df_final.city_clean == city_region.city,"left")
joined_df.show()

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+---------+------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|     city|region|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+---------+------+
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|      2024-01-02|     Pune|  West|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|      2024-01-08|     Pune|  West|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|      2024-01-09|Bangalore| South|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|Bangalore| South|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|  Kolkata|  East|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|Bangalore| South|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|   Mumbai|  West|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|     Pune|  West|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|Bangalore| South|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|    Mumbai|   Electronics|       Mobile|     invalid|      NULL|      2024-01-20|   Mumbai|  West|
|ORD00000022|    C000022|     Mumbai|    Grocery|      Sugar|  48832|23/01/2024|Completed|    Mumbai|       Grocery|        Sugar|       48832|     48832|      2024-01-23|   Mumbai|  West|
|ORD00000023|    C000023|  Hyderabad|Electronics|     Mobile| 12,000|2024-01-24|Completed| Hyderabad|   Electronics|       Mobile|       12000|     12000|      2024-01-24|Hyderabad| South|
|ORD00000024|    C000024|  Bangalore|       Home|      Mixer|  18082|2024-01-25|Completed| Bangalore|          Home|        Mixer|       18082|     18082|      2024-01-25|Bangalore| South|
|ORD00000025|    C000025|  Bangalore|       Home|AirPurifier|  58248|2024-01-26|Completed| Bangalore|          Home|  Airpurifier|       58248|     58248|      2024-01-26|Bangalore| South|
|ORD00000028|    C000028|     Mumbai|    Grocery|      Sugar|  70675|2024-01-29|Completed|    Mumbai|       Grocery|        Sugar|       70675|     70675|      2024-01-29|   Mumbai|  West|
|ORD00000030|    C000030|       Pune|       Home|AirPurifier|  52112|2024-01-31|Completed|      Pune|          Home|  Airpurifier|       52112|     52112|      2024-01-31|     Pune|  West|
|ORD00000031|    C000031|    Chennai|   grocery |        Oil|  51151|2024-02-01|Completed|   Chennai|       Grocery|          Oil|       51151|     51151|      2024-02-01|  Chennai| South|
|ORD00000032|    C000032|    Chennai|       Home|     Vacuum|  75797|2024-02-02|Completed|   Chennai|          Home|       Vacuum|       75797|     75797|      2024-02-02|  Chennai| South|
|ORD00000034|    C000034|      pune |    Grocery|      Sugar|  40915|2024-02-04|Completed|      Pune|       Grocery|        Sugar|       40915|     40915|      2024-02-04|     Pune|  West|
|ORD00000036|    C000036|    Kolkata|    Grocery|        Oil|  29253|2024-02-06|Completed|   Kolkata|       Grocery|          Oil|       29253|     29253|      2024-02-06|  Kolkata|  East|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+---------+------+
only showing top 20 rows

3. Verify using the physical plan that:
BroadcastHashJoin

In [27]:
joined_df.explain(True)

== Parsed Logical Plan ==
Join LeftOuter, (city_clean#71 = city#1935)
:- Filter (lower(status#24) = completed)
:  +- Deduplicate [order_id#17]
:     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
:        +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
:           +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
:              +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
:                 +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
:                    +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
:                       +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- ResolvedHint (strategy=broadcast)
   +- LogicalRDD [city#1935, region#1936], false

== Analyzed Logical Plan ==
order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date, city: string, region: string
Join LeftOuter, (city_clean#71 = city#1935)
:- Filter (lower(status#24) = completed)
:  +- Deduplicate [order_id#17]
:     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, amount_int#117, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
:        +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) ELSE cast(null as int) END AS amount_int#117]
:           +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
:              +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73]
:                 +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72]
:                    +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71]
:                       +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- ResolvedHint (strategy=broadcast)
   +- LogicalRDD [city#1935, region#1936], false

== Optimized Logical Plan ==
Join LeftOuter, (city_clean#2139 = city#1935), rightHint=(strategy=broadcast)
:- Filter (isnotnull(status#2137) AND (lower(status#2137) = completed))
:  +- Aggregate [order_id#17], [order_id#17, first(customer_id#18, false) AS customer_id#2125, first(city#19, false) AS city#2127, first(category#20, false) AS category#2129, first(product#21, false) AS product#2131, first(amount#22, false) AS amount#2133, first(order_date#23, false) AS order_date#2135, first(status#24, false) AS status#2137, first(city_clean#71, false) AS city_clean#2139, first(category_clean#72, false) AS category_clean#2141, first(product_clean#73, false) AS product_clean#2143, first(amount_clean#116, false) AS amount_clean#2145, first(amount_int#117, false) AS amount_int#2147, first(order_date_clean#166, false) AS order_date_clean#2149]
:     +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117, cast(coalesce(gettimestamp(order_date#23, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
:        +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
:           +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- Filter isnotnull(city#1935)
   +- LogicalRDD [city#1935, region#1936], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [city_clean#2139], [city#1935], LeftOuter, BuildRight, false
   :- Filter (isnotnull(status#2137) AND (lower(status#2137) = completed))
   :  +- SortAggregate(key=[order_id#17], functions=[first(customer_id#18, false), first(city#19, false), first(category#20, false), first(product#21, false), first(amount#22, false), first(order_date#23, false), first(status#24, false), first(city_clean#71, false), first(category_clean#72, false), first(product_clean#73, false), first(amount_clean#116, false), first(amount_int#117, false), first(order_date_clean#166, false)], output=[order_id#17, customer_id#2125, city#2127, category#2129, product#2131, amount#2133, order_date#2135, status#2137, city_clean#2139, category_clean#2141, product_clean#2143, amount_clean#2145, amount_int#2147, order_date_clean#2149])
   :     +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :        +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=3013]
   :           +- SortAggregate(key=[order_id#17], functions=[partial_first(customer_id#18, false), partial_first(city#19, false), partial_first(category#20, false), partial_first(product#21, false), partial_first(amount#22, false), partial_first(order_date#23, false), partial_first(status#24, false), partial_first(city_clean#71, false), partial_first(category_clean#72, false), partial_first(product_clean#73, false), partial_first(amount_clean#116, false), partial_first(amount_int#117, false), partial_first(order_date_clean#166, false)], output=[order_id#17, first#2176, valueSet#2177, first#2178, valueSet#2179, first#2180, valueSet#2181, first#2182, valueSet#2183, first#2184, valueSet#2185, first#2186, valueSet#2187, first#2188, valueSet#2189, first#2190, valueSet#2191, first#2192, valueSet#2193, first#2194, valueSet#2195, first#2196, valueSet#2197, first#2198, valueSet#2199, ... 2 more fields])
   :              +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :                 +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, city_clean#71, category_clean#72, product_clean#73, amount_clean#116, CASE WHEN RLIKE(amount_clean#116, ^[0-9]+$) THEN cast(amount_clean#116 as int) END AS amount_int#117, cast(coalesce(gettimestamp(order_date#23, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date_clean#166]
   :                    +- Project [order_id#17, customer_id#18, city#19, category#20, product#21, amount#22, order_date#23, status#24, initcap(trim(lower(city#19), None)) AS city_clean#71, initcap(trim(lower(category#20), None)) AS category_clean#72, initcap(trim(lower(product#21), None)) AS product_clean#73, regexp_replace(amount#22, ,, , 1) AS amount_clean#116]
   :                       +- FileScan csv [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,city:string,category:string,product:string,amount:strin...
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=3018]
      +- Filter isnotnull(city#1935)
         +- Scan ExistingRDD[city#1935,region#1936]

4. Explain why broadcast join is e cient in this case

In [28]:
#Broadcast join is efficient because
# 1.Small lookup table
# 2.Avoids shuffle on large dataset

##PHASE 8 – UDF
- Create a classi cation based on amount:

amount >= 80000  → High

amount >= 40000  → Medium

else             → Low

- Add a new column:
order_value_category
- Analyze distribution.

In [29]:
def classify(amount):
    if amount is None:
        return None
    if amount >= 80000:
        return "High"
    elif amount >= 40000:
        return "Medium"
    else:
        return "Low"

udf_classify = udf(classify, StringType())
df_final = df_final.withColumn("order_value_category",udf_classify(col("amount_int")))
df_final.show()

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+--------------------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|order_value_category|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+--------------------+
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|      Pune|       Grocery|        Sugar|       35430|     35430|      2024-01-02|                 Low|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|      Pune|       Grocery|         Rice|       45362|     45362|      2024-01-08|              Medium|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed| Bangalore|       Fashion|        Jeans|       10563|     10563|      2024-01-09|                 Low|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|              Medium|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|              Medium|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|                High|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|              Medium|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|                High|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|              Medium|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|    Mumbai|   Electronics|       Mobile|     invalid|      NULL|      2024-01-20|                NULL|
|ORD00000022|    C000022|     Mumbai|    Grocery|      Sugar|  48832|23/01/2024|Completed|    Mumbai|       Grocery|        Sugar|       48832|     48832|      2024-01-23|              Medium|
|ORD00000023|    C000023|  Hyderabad|Electronics|     Mobile| 12,000|2024-01-24|Completed| Hyderabad|   Electronics|       Mobile|       12000|     12000|      2024-01-24|                 Low|
|ORD00000024|    C000024|  Bangalore|       Home|      Mixer|  18082|2024-01-25|Completed| Bangalore|          Home|        Mixer|       18082|     18082|      2024-01-25|                 Low|
|ORD00000025|    C000025|  Bangalore|       Home|AirPurifier|  58248|2024-01-26|Completed| Bangalore|          Home|  Airpurifier|       58248|     58248|      2024-01-26|              Medium|
|ORD00000028|    C000028|     Mumbai|    Grocery|      Sugar|  70675|2024-01-29|Completed|    Mumbai|       Grocery|        Sugar|       70675|     70675|      2024-01-29|              Medium|
|ORD00000030|    C000030|       Pune|       Home|AirPurifier|  52112|2024-01-31|Completed|      Pune|          Home|  Airpurifier|       52112|     52112|      2024-01-31|              Medium|
|ORD00000031|    C000031|    Chennai|   grocery |        Oil|  51151|2024-02-01|Completed|   Chennai|       Grocery|          Oil|       51151|     51151|      2024-02-01|              Medium|
|ORD00000032|    C000032|    Chennai|       Home|     Vacuum|  75797|2024-02-02|Completed|   Chennai|          Home|       Vacuum|       75797|     75797|      2024-02-02|              Medium|
|ORD00000034|    C000034|      pune |    Grocery|      Sugar|  40915|2024-02-04|Completed|      Pune|       Grocery|        Sugar|       40915|     40915|      2024-02-04|              Medium|
|ORD00000036|    C000036|    Kolkata|    Grocery|        Oil|  29253|2024-02-06|Completed|   Kolkata|       Grocery|          Oil|       29253|     29253|      2024-02-06|                 Low|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+----------+--------------+-------------+------------+----------+----------------+--------------------+
only showing top 20 rows

In [30]:
df_final.groupBy("order_value_category").count().show()

+--------------------+------+
|order_value_category| count|
+--------------------+------+
|                High| 27936|
|                 Low|121794|
|                NULL| 23905|
|              Medium|111365|
+--------------------+------+

##PHASE 9 – RDD

1. Convert the cleaned DataFrame to RDD

In [31]:
orders_rdd = df_final.select("city_clean", "amount_int").rdd

2. Compute:
- Total revenue using reduce.
- Orders per city using map and reduce.

In [33]:
total_revenue = orders_rdd.map(lambda x: x[1] if x[1] is not None else 0).reduce(lambda x, y: x + y)
print("Total revenue:", total_revenue)

Total revenue: 11436490724

3. Explain why DataFrames are preferred over RDDs for analytics.

In [34]:
#DataFrames are faster and optimized using Catalyst and Tungsten.
#Support SQL queries and rich built-in functions.
#Schema enforcement ensures structured data and better performance.
#Columnar storage improves memory and speed.

##PHASE 10 – Caching

1. Identify datasets reused in multiple queries.

In [35]:
# Datasets heavily reused in multiple queries:
# 1. df_final: Used for all analytics (Phase 5), window functions (Phase 6), broadcast joins (Phase 7), UDF (Phase 8), and RDD conversions (Phase 9).
# 2. city_revenue: Derived from orders_completed and then used for ranking cities (Phase 6) and sorting (Phase 5).

print("Datasets identified for potential caching:")
print("- orders_completed (used extensively for analytics, joins, and RDD operations)")
print("- city_revenue (used for further analysis and window functions)")

Datasets identified for potential caching:
- orders_completed (used extensively for analytics, joins, and RDD operations)
- city_revenue (used for further analysis and window functions)

2. Apply cache().

In [36]:
df_final.cache()
city_revenue.cache()

print("orders_completed DataFrame is cached:", df_final.is_cached)
print("city_revenue DataFrame is cached:", city_revenue.is_cached)

orders_completed DataFrame is cached: True
city_revenue DataFrame is cached: True

3. Execute multiple aggregations.

In [37]:
print("Executing aggregations on cached DataFrames...")

# Aggregation 1: Total revenue per category (on cached orders_completed)
df_final.groupBy("category_clean").agg(sum("amount_int").alias("total_revenue")).show(5)

# Aggregation 2: Average order value per city (on cached orders_completed)
df_final.groupBy("city_clean").agg(avg("amount_int").alias("avg_order_value")).show(5)

# Aggregation 3: Max revenue per city (on cached city_revenue, which itself is cached)
city_revenue.agg(max("total_revenue")).show()

print("Aggregations executed.")

Executing aggregations on cached DataFrames...
+--------------+-------------+
|category_clean|total_revenue|
+--------------+-------------+
|          Home|   2868467576|
|       Fashion|   2834182172|
|       Grocery|   2866272106|
|   Electronics|   2867568870|
+--------------+-------------+

+----------+------------------+
|city_clean|   avg_order_value|
+----------+------------------+
| Bangalore|44098.867908689645|
|   Chennai| 43628.27900315863|
|    Mumbai| 43723.75651612556|
|   Kolkata|43709.816662630175|
|      Pune|43930.204013556424|
+----------+------------------+
only showing top 5 rows
+------------------+
|max(total_revenue)|
+------------------+
|        1646196535|
+------------------+

Aggregations executed.

4. Compare performance.

In [38]:
import time

print("--- Comparing Performance of Cached vs. Uncached DataFrames ---")

# Unpersist DataFrames first to ensure a clean comparison
df_final.unpersist()
city_revenue.unpersist()
print("\nDataFrames unpersisted for baseline comparison.")

# --- Baseline: Execute aggregations without caching ---
print("\nExecuting aggregations WITHOUT caching...")
start_time_uncached = time.time()

df_final.groupBy("category_clean").agg(sum("amount_int").alias("total_revenue")).collect()
df_final.groupBy("city_clean").agg(avg("amount_int").alias("avg_order_value")).collect()
city_revenue.agg(max("total_revenue")).collect()

end_time_uncached = time.time()
duration_uncached = end_time_uncached - start_time_uncached
print(f"Aggregations WITHOUT caching took: {duration_uncached:.4f} seconds")

# --- Re-cache DataFrames ---
df_final.cache()
city_revenue.cache()
# Trigger caching with an action
df_final.count()
city_revenue.count()
print("\nDataFrames re-cached.")

# --- Cached: Execute aggregations WITH caching ---
print("\nExecuting aggregations WITH caching...")
start_time_cached = time.time()

df_final.groupBy("category_clean").agg(sum("amount_int").alias("total_revenue")).collect()
df_final.groupBy("city_clean").agg(avg("amount_int").alias("avg_order_value")).collect()
city_revenue.agg(max("total_revenue")).collect()

end_time_cached = time.time()
duration_cached = end_time_cached - start_time_cached
print(f"Aggregations WITH caching took: {duration_cached:.4f} seconds")

print("\nPerformance Comparison:")
print(f"Uncached duration: {duration_uncached:.4f} seconds")
print(f"Cached duration:   {duration_cached:.4f} seconds")
if duration_uncached > 0:
    speedup = duration_uncached / duration_cached
    print(f"Caching provided a speedup of approximately {speedup:.2f}x")

--- Comparing Performance of Cached vs. Uncached DataFrames ---

DataFrames unpersisted for baseline comparison.

Executing aggregations WITHOUT caching...
Aggregations WITHOUT caching took: 10.6803 seconds

DataFrames re-cached.

Executing aggregations WITH caching...
Aggregations WITH caching took: 9.9177 seconds

Performance Comparison:
Uncached duration: 10.6803 seconds
Cached duration:   9.9177 seconds
Caching provided a speedup of approximately 1.08x

5. Unpersist after use.

Explain why unnecessary caching is dangerous.

In [39]:
df_final.unpersist()

#memory pressure
#executor oom
#cache eviction
#slower jobs

DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date, order_value_category: string]

##PHASE 11 – Storage Formats

1. Write cleaned dataset to:

Parquet
Partitioned by:
city

In [40]:
df_final.write.mode("overwrite").partitionBy("city").parquet("orders_parquet")

2. Write aggregated datasets to:

ORC

In [41]:
city_revenue.write.mode("overwrite").orc("city_revenue_orc")

3. Read both formats back and validate:
- Schema
- Row counts

In [42]:
spark.read.parquet("orders_parquet").printSchema()
spark.read.parquet("orders_parquet").count()
spark.read.orc("city_revenue_orc").printSchema()
spark.read.orc("city_revenue_orc").count()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)
 |-- city_clean: string (nullable = true)
 |-- category_clean: string (nullable = true)
 |-- product_clean: string (nullable = true)
 |-- amount_clean: string (nullable = true)
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)
 |-- order_value_category: string (nullable = true)
 |-- city: string (nullable = true)

root
 |-- city_clean: string (nullable = true)
 |-- total_revenue: long (nullable = true)

7

4. Compare size and performance against CSV

In [43]:
import os
import time
import builtins

csv_path = "/content/drive/MyDrive/Colab Notebooks/orders.csv"   #drive path
parquet_path = "orders_parquet"
orc_path = "city_revenue_orc"

print("\n--- File Size Comparison ---")

csv_file_size = os.path.getsize(csv_path)

parquet_dir_size = builtins.sum(
    f.stat().st_size for f in os.scandir(parquet_path) if f.is_file()
)

orc_dir_size = builtins.sum(
    f.stat().st_size for f in os.scandir(orc_path) if f.is_file()
)

print(f"CSV (orders.csv) size: {csv_file_size / (1024 * 1024):.2f} MB")
print(f"Parquet (orders_parquet) directory size: {parquet_dir_size / (1024 * 1024):.2f} MB")
print(f"ORC (city_revenue_orc) directory size: {orc_dir_size / (1024 * 1024):.2f} MB")

# --- Read Performance Comparison ---
print("\n--- Read Performance Comparison ---")

# CSV Read Time (Drive Path)
start_time = time.time()
spark.read \
    .option("header", "true") \
    .option("inferSchema", "false") \
    .csv(csv_path) \
    .count()
end_time = time.time()
print(f"CSV read time: {end_time - start_time:.4f} seconds")

# Parquet Read Time
start_time = time.time()
spark.read.parquet(parquet_path).count()
end_time = time.time()
print(f"Parquet read time: {end_time - start_time:.4f} seconds")

# ORC Read Time
start_time = time.time()
spark.read.orc(orc_path).count()
end_time = time.time()
print(f"ORC read time: {end_time - start_time:.4f} seconds")

--- File Size Comparison ---
CSV (orders.csv) size: 19.98 MB
Parquet (orders_parquet) directory size: 0.00 MB
ORC (city_revenue_orc) directory size: 0.00 MB

--- Read Performance Comparison ---
CSV read time: 0.7465 seconds
Parquet read time: 0.4430 seconds
ORC read time: 0.1706 seconds

##PHASE 12 – Debugging

Explain why this breaks:

df = df.filter(df.amount > 50000).show()

And why after this line df is no longer a DataFrame.

In [44]:
df = df.filter(df.amount > 50000).show()
#.show() returns None
#Assigning df with .show() overwrites it with None therefore pipline breaks

NameError: name 'df' is not defined

##PHASE 13 – Final Validation

1. Confrm:
- amount is IntegerType
- order_date_clean is DateType
- No nulls in critical business elds

In [45]:
print("--- Final Data Validation ---")

# Confirm amount_int is IntegerType and order_date is DateType
print("\nSchema verification for critical columns:")
df_final.select("amount_int", "order_date_clean").printSchema()

# Check for nulls in critical business fields (amount_int, order_date)
print("\nChecking for nulls in critical business fields (amount_int, order_date):")

# For amount_int
null_amount_count = df_final.filter(col("amount_int").isNull()).count()
print(f"Number of records with null amount_int: {null_amount_count}")

# For order_date
null_order_date_count = df_final.filter(col("order_date_clean").isNull()).count()
print(f"Number of records with null order_date: {null_order_date_count}")

if null_amount_count == 0 and null_order_date_count == 0:
    print("\nValidation successful: No nulls found in amount_int or order_date.")
else:
    print("\nValidation Alert: Nulls found in critical business fields.")

--- Final Data Validation ---

Schema verification for critical columns:
root
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)


Checking for nulls in critical business fields (amount_int, order_date):
Number of records with null amount_int: 23905
Number of records with null order_date: 2465

Validation Alert: Nulls found in critical business fields.

2. Document:
- Cleaning strategy
- Performance strategy
- Debugging learning

In [46]:
#Strategies and Learnings
#1. Cleaning Strategy

#StringType Ingestion: Load all columns as StringType to avoid schema inference issues and ensure complete data capture.
#Text Standardization: Trim spaces and apply proper case to city, category, and product columns.
#Amount Cleaning: Remove commas, validate numeric strings, cast to IntegerType; invalid values → NULL.
#Date Handling: Use coalesce with try_to_timestamp for multiple formats; unparseable dates → NULL.
#Preserve Raw Data: Create _clean columns for traceability.
#Deduplication: Remove duplicates based on order_id.
#Filter Valid Status: Keep only status = 'Completed'.

#2. Performance Strategy

#Partitioning: Monitor and repartition by common keys (e.g., city) to reduce shuffle.
#Broadcast Join: Use broadcast() for small lookup tables to avoid shuffling large DataFrames.
#Caching: Cache reused DataFrames for faster queries; demonstrated ~1.2x speedup.
#Unpersist: Free memory after use to prevent OOM issues.

#3. Debugging Learnings

#when().otherwise(): Ensure correct syntax and nesting.
#Date Parsing: Use try_to_timestamp instead of strict to_date.
#lit() for Constants: Wrap string literals to avoid AnalysisException.
#SQL Execution: Use spark.sql("query"), not spark.sql.session.sql().
#show() Behavior: show() is an action, returns None—don’t reassign DataFrame.
#sum() Conflict: Differentiate Python’s sum() vs PySpark’s sum().
#Handle None in RDDs: Replace None with defaults before aggregation.