In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("Basics").getOrCreate()

#Create DataFrame

In [9]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
dfr = spark.createDataFrame(data, columns)
dfr.show()
dfr.printSchema()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- age: long (nullable = true)
 |-- annual_spend: long (nullable = true)
 |-- category: string (nullable = true)

In [10]:
#Never assign .show() to a variable
#Show the first 10 customers.
dfr.show(10)

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+
only showing top 10 rows

In [12]:
#List all unique cities.
dfr.select("city").distinct().show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

In [13]:
#Display only customer_id, name, and annual_spend
dfr.select("customer_id", "name", "annual_spend").show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

In [15]:
#Filter customers who spend more than 60000 annually
dfr.filter(dfr.annual_spend > 60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

In [16]:
#Show all customers from Delhi who are younger than 30
dfr.filter((dfr.city == "Delhi") & (dfr.age < 30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend|   category|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

In [17]:
#Create a new column spend_lakh = annual_spend / 100000
dfr = dfr.withColumn("spend_lakh", dfr.annual_spend / 100000)
dfr.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [20]:
"""Create customer_type column
spend > 70000 → Premium
else → Standard"""

df2 = dfr.withColumn(
    "customer_type",
    F.when(dfr.annual_spend > 70000, "Premium")
     .otherwise("Standard")
)
df2.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows

In [21]:
#Show customers whose name starts with letter A
dfr.filter(dfr.name.startswith("A")).show()

+-----------+-----+---------+---+------------+-----------+----------+
|customer_id| name|     city|age|annual_spend|   category|spend_lakh|
+-----------+-----+---------+---+------------+-----------+----------+
|       C001|Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C009| Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C015| Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C023| Ajay|  Chennai| 30|       51000|  Furniture|      0.51|
|       C028|Anita|  Chennai| 26|       44000|   Clothing|      0.44|
+-----------+-----+---------+---+------------+-----------+----------+

In [22]:
#Filter customers where category is Clothing or Electronics
dfr.filter(dfr.category.isin("Clothing", "Electronics")).show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|      0.68|
+-----------+------+---------+---+------------+-----------+----------+

In [23]:
#Convert city name to uppercase
df3 = dfr.withColumn("city_upper", F.upper(dfr.city))
df3.show()

+-----------+------+---------+---+------------+-----------+----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|city_upper|
+-----------+------+---------+---+------------+-----------+----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45| HYDERABAD|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|   CHENNAI|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61| BANGALORE|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     DELHI|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|    MUMBAI|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48| HYDERABAD|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     DELHI|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|   CHENNAI|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85| BANGALORE|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|    MUMBAI|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56| HYDERABAD|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     DELHI|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|   CHENNAI|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|    MUMBAI|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41| BANGALORE|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     DELHI|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7| HYDERABAD|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|   CHENNAI|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|    MUMBAI|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76| BANGALORE|
+-----------+------+---------+---+------------+-----------+----------+----------+
only showing top 20 rows

In [24]:
#Remove the category column

df2 = df2.drop("category")
df2.show()

+-----------+------+---------+---+------------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|spend_lakh|customer_type|
+-----------+------+---------+---+------------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|      0.76|      Premium|
+-----------+------+---------+---+------------+----------+-------------+
only showing top 20 rows

In [25]:
#Sort customers by age in descending order

dfr.orderBy(dfr.age.desc()).show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|       0.9|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      0.82|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|      0.68|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C022|  Zara|Hyderabad| 32|       58000|    Grocery|      0.58|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C023|  Ajay|  Chennai| 30|       51000|  Furniture|      0.51|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [26]:
#Find customers younger than the average age
avg_age = dfr.select(F.avg("age")).collect()[0][0]

dfr.filter(dfr.age < avg_age).show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|      0.36|
+-----------+------+---------+---+------------+-----------+----------+

In [27]:
#Display top 5 highest spending customers

dfr.orderBy(dfr.annual_spend.desc()).show(5)

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|       0.9|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      0.82|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 5 rows

In [28]:
#Create a new DataFrame with only customers from Mumbai

df_mumbai = dfr.filter(dfr.city == "Mumbai")
df_mumbai.show()

+-----------+------+------+---+------------+-----------+----------+
|customer_id|  name|  city|age|annual_spend|   category|spend_lakh|
+-----------+------+------+---+------------+-----------+----------+
|       C005|Sanjay|Mumbai| 35|       72000|Electronics|      0.72|
|       C010|  Ritu|Mumbai| 23|       39000|   Clothing|      0.39|
|       C014| Deepa|Mumbai| 30|       62000|   Clothing|      0.62|
|       C019| Nisha|Mumbai| 21|       35000|    Grocery|      0.35|
|       C025|Gautam|Mumbai| 39|       82000|  Furniture|      0.82|
+-----------+------+------+---+------------+-----------+----------+

In [29]:
#Bonus : Extract first letter of each name

df4 = dfr.withColumn("name_initial", F.substring(dfr.name, 1, 1))
dfr.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [30]:
#Bonus: Mask the customer_id (Example: C001 → 01)

df5 = dfr.withColumn(
    "masked_customer_id",
    F.concat(F.lit("**"), F.substring(dfr.customer_id, -2, 2))
)
df5.show()

+-----------+------+---------+---+------------+-----------+----------+------------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|masked_customer_id|
+-----------+------+---------+---+------------+-----------+----------+------------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|              **01|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|              **02|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|              **03|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|              **04|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|              **05|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|              **06|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|              **07|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|              **08|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|              **09|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|              **10|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|              **11|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|              **12|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|              **13|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|              **14|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|              **15|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|              **16|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|              **17|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|              **18|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|              **19|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|              **20|
+-----------+------+---------+---+------------+-----------+----------+------------------+
only showing top 20 rows

In [31]:
#Bonus : Create boolean column is_senior where age > 35

df6 = dfr.withColumn("is_senior", dfr.age > 35)
dfr.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [32]:
#Bonus : Count number of customers per city

dfr.groupBy("city").count().show()

+---------+-----+
|     city|count|
+---------+-----+
|Bangalore|    6|
|  Chennai|    6|
|   Mumbai|    5|
|    Delhi|    7|
|Hyderabad|    6|
+---------+-----+