In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Basics").getOrCreate()
spark.version

'4.0.1'

#First DataFrame

In [4]:
data = [
    {"name": "Aratrika", "age": 22},
    {"name": "Nirakshi", "age": 21},
    {"name": "Titli", "age": 24},
]
df = spark.createDataFrame(data)
df.show()

+---+--------+
|age|    name|
+---+--------+
| 22|Aratrika|
| 21|Nirakshi|
| 24|   Titli|
+---+--------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.select("name").show()
df.select("name","age").show()

+--------+
|    name|
+--------+
|Aratrika|
|Nirakshi|
|   Titli|
+--------+

+--------+---+
|    name|age|
+--------+---+
|Aratrika| 22|
|Nirakshi| 21|
|   Titli| 24|
+--------+---+

In [8]:
df.filter(df.age>22).show()
df.filter(df.name == "Aratrika").show()

+---+-----+
|age| name|
+---+-----+
| 24|Titli|
+---+-----+

+---+--------+
|age|    name|
+---+--------+
| 22|Aratrika|
+---+--------+

In [9]:
from pyspark.sql.functions import col

df2=df.withColumn("age_plus_5",col("age")+5)
df2.show()

+---+--------+----------+
|age|    name|age_plus_5|
+---+--------+----------+
| 22|Aratrika|        27|
| 21|Nirakshi|        26|
| 24|   Titli|        29|
+---+--------+----------+

In [10]:
from pyspark.sql.functions import lower
df3 = df.withColumn("name_lower",lower(col("name")))
df3.show()

+---+--------+----------+
|age|    name|name_lower|
+---+--------+----------+
| 22|Aratrika|  aratrika|
| 21|Nirakshi|  nirakshi|
| 24|   Titli|     titli|
+---+--------+----------+

In [11]:
df.drop("age").show()

+--------+
|    name|
+--------+
|Aratrika|
|Nirakshi|
|   Titli|
+--------+