In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder.appName("Second Milestone").getOrCreate()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
csv_path = "/content/drive/MyDrive/Colab Notebooks/orders_raw.csv"

Section 1 — Data Ingestion & Schema

1. Read the CSV file using PySpark ensuring the job does not fail due to bad data.
2. Explain why reading all columns as StringType is preferred initially.
3. Print schema and total record count.

In [6]:
#1,3
df_csv_raw = (spark.read.option("header", "True")
              .option("inferSchema", "False").csv(csv_path))
df_csv_raw.printSchema()
df_csv_raw.count()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

300000

In [7]:
#2
#Reading all columns as StringType initially :
#1 Prevents job failure due to malformed data
#2 Supports multiple date formats
#3 Allows custom validation and error handling

Section 2 — Data Cleaning & Validation

4. Clean leading/trailing spaces from string columns.
5. Standardize city , category , and product values.
6. Convert amount to integer safely, handling invalid values.
7. Parse order_date supporting multiple date formats.
8. Identify and handle invalid or null records.

In [8]:
#4
trimmed_df = df_csv_raw.select([trim(col(c)).alias(c) for c in df_csv_raw.columns])
trimmed_df.show()

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|     city|   category|    product| amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000|hyderabad|    grocery|        Oil|invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     TShirt|  79121|2024/01/14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer|  64225|2024-01-17|Completed|
|ORD00000017|    C000017|bangalore|    Grocery|        Oil|  69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans|  50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
only showing top 20 rows

In [9]:
#5
std_df = (
    trimmed_df
    .withColumn("city", initcap(lower(col("city"))))
    .withColumn("category", initcap(lower(col("category"))))
    .withColumn("product", initcap(lower(col("product"))))
)
std_df.show()

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|     city|   category|    product| amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000|Hyderabad|    Grocery|        Oil|invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier|  33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt|  79121|2024/01/14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer|  64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil|  69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans|  50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
only showing top 20 rows

In [11]:
#6
df_clean = std_df.withColumn("amount",when(col("amount").rlike("^[0-9]+$"), col("amount").cast(IntegerType())))
df_clean.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000000|    C000000|Hyderabad|    Grocery|        Oil|  NULL|01/01/2024|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile| 65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|  5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier| 33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|  8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar| 42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop| 63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|12/01/2024|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt| 79121|2024/01/14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer| 64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans| 50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|  NULL|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

In [12]:
#7
df_clean=df_clean.withColumn(
    "order_date",
    coalesce(
        try_to_timestamp(col("order_date"), lit("yyyy-MM-dd")),
        try_to_timestamp(col("order_date"), lit("dd-MM-yyyy")),
        try_to_timestamp(col("order_date"), lit("MM-dd-yyyy")),
        try_to_timestamp(col("order_date"), lit("dd/MM/yyyy")),
        try_to_timestamp(col("order_date"), lit("MM/dd/yyyy")),
        try_to_timestamp(col("order_date"), lit("yyyy/MM/dd"))
    ).cast(DateType())
)
df_clean.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000000|    C000000|Hyderabad|    Grocery|        Oil|  NULL|2024-01-01|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile| 65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|  5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier| 33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|  8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar| 42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop| 63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|2024-01-12|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt| 79121|2024-01-14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer| 64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans| 50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|  NULL|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

In [14]:
#8
valid_df = df_clean.filter(
    (col("order_id").isNotNull()) &
    (col("order_date").isNotNull())&
    (col("amount").isNotNull())
)
valid_df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile| 65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|  5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier| 33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|  8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar| 42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop| 63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|2024-01-12|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt| 79121|2024-01-14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer| 64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans| 50424|2024-01-19|Completed|
|ORD00000020|    C000020|  Kolkata|    Grocery|       Rice| 58757|2024-01-21|Cancelled|
|ORD00000021|    C000021|    Delhi|Electronics|     Tablet| 20654|2024-01-22|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

Section 3 — Business Rules

9. Remove duplicate records based on order_id .
10. Filter only records with status = Completed .
11. Validate record counts before and after ltering.

In [18]:
#9
distinct_df = valid_df.dropDuplicates(["order_id"])
#distinct_df.show()
#10
filtered_df = distinct_df.filter(col("status") == "Completed")
filtered_df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|2024-01-12|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000022|    C000022|   Mumbai|    Grocery|      Sugar| 48832|2024-01-23|Completed|
|ORD00000024|    C000024|Bangalore|       Home|      Mixer| 18082|2024-01-25|Completed|
|ORD00000025|    C000025|Bangalore|       Home|Airpurifier| 58248|2024-01-26|Completed|
|ORD00000028|    C000028|   Mumbai|    Grocery|      Sugar| 70675|2024-01-29|Completed|
|ORD00000030|    C000030|     Pune|       Home|Airpurifier| 52112|2024-01-31|Completed|
|ORD00000031|    C000031|  Chennai|    Grocery|        Oil| 51151|2024-02-01|Completed|
|ORD00000032|    C000032|  Chennai|       Home|     Vacuum| 75797|2024-02-02|Completed|
|ORD00000034|    C000034|     Pune|    Grocery|      Sugar| 40915|2024-02-04|Completed|
|ORD00000036|    C000036|  Kolkata|    Grocery|        Oil| 29253|2024-02-06|Completed|
|ORD00000039|    C000039|     Pune|    Grocery|        Oil| 73088|2024-02-09|Completed|
|ORD00000041|    C000041|  Chennai|    Fashion|      Jeans|  2704|2024-02-11|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

In [19]:
#11
print("Record count before filtering:", valid_df.count())
print("Record count after filtering:", filtered_df.count())

Record count before filtering: 260206
Record count after filtering: 247194

Section 4 — Performance & Optimization

12. Identify operations that cause shuffles.
13. Use explain(True) to analyze the execution plan.
14. Apply repartitioning to optimize aggregations.
15. Justify where caching should be applied and why.

In [20]:
#12
#operations that cause shuffles:
#groupBy,orderBy
#join

In [21]:
#13
filtered_df.explain(True)

== Parsed Logical Plan ==
'Filter '`=`('status, Completed)
+- Deduplicate [order_id#37]
   +- Filter ((isnotnull(order_id#37) AND isnotnull(order_date#183)) AND isnotnull(amount#149))
      +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, amount#149, cast(coalesce(try_to_timestamp(order_date#43, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date#183, status#44]
         +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, CASE WHEN RLIKE(amount#42, ^[0-9]+$) THEN cast(amount#42 as int) END AS amount#149, order_date#43, status#44]
            +- Project [order_id#37, customer_id#38, city#79, category#80, initcap(lower(product#41)) AS product#81, amount#42, order_date#43, status#44]
               +- Project [order_id#37, customer_id#38, city#79, initcap(lower(category#40)) AS category#80, product#41, amount#42, order_date#43, status#44]
                  +- Project [order_id#37, customer_id#38, initcap(lower(city#39)) AS city#79, category#40, product#41, amount#42, order_date#43, status#44]
                     +- Project [trim(order_id#17, None) AS order_id#37, trim(customer_id#18, None) AS customer_id#38, trim(city#19, None) AS city#39, trim(category#20, None) AS category#40, trim(product#21, None) AS product#41, trim(amount#22, None) AS amount#42, trim(order_date#23, None) AS order_date#43, trim(status#24, None) AS status#44]
                        +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
order_id: string, customer_id: string, city: string, category: string, product: string, amount: int, order_date: date, status: string
Filter (status#44 = Completed)
+- Deduplicate [order_id#37]
   +- Filter ((isnotnull(order_id#37) AND isnotnull(order_date#183)) AND isnotnull(amount#149))
      +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, amount#149, cast(coalesce(try_to_timestamp(order_date#43, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(MM/dd/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#43, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date#183, status#44]
         +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, CASE WHEN RLIKE(amount#42, ^[0-9]+$) THEN cast(amount#42 as int) END AS amount#149, order_date#43, status#44]
            +- Project [order_id#37, customer_id#38, city#79, category#80, initcap(lower(product#41)) AS product#81, amount#42, order_date#43, status#44]
               +- Project [order_id#37, customer_id#38, city#79, initcap(lower(category#40)) AS category#80, product#41, amount#42, order_date#43, status#44]
                  +- Project [order_id#37, customer_id#38, initcap(lower(city#39)) AS city#79, category#40, product#41, amount#42, order_date#43, status#44]
                     +- Project [trim(order_id#17, None) AS order_id#37, trim(customer_id#18, None) AS customer_id#38, trim(city#19, None) AS city#39, trim(category#20, None) AS category#40, trim(product#21, None) AS product#41, trim(amount#22, None) AS amount#42, trim(order_date#23, None) AS order_date#43, trim(status#24, None) AS status#44]
                        +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Filter (isnotnull(status#797) AND (status#797 = Completed))
+- Aggregate [order_id#37], [order_id#37, first(customer_id#38, false) AS customer_id#785, first(city#79, false) AS city#787, first(category#80, false) AS category#789, first(product#81, false) AS product#791, first(amount#149, false) AS amount#793, first(order_date#183, false) AS order_date#795, first(status#44, false) AS status#797]
   +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, CASE WHEN RLIKE(amount#42, ^[0-9]+$) THEN cast(amount#42 as int) END AS amount#149, cast(coalesce(gettimestamp(order_date#43, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date#183, status#44]
      +- Project [trim(order_id#17, None) AS order_id#37, trim(customer_id#18, None) AS customer_id#38, initcap(lower(trim(city#19, None))) AS city#79, initcap(lower(trim(category#20, None))) AS category#80, initcap(lower(trim(product#21, None))) AS product#81, trim(amount#22, None) AS amount#42, trim(order_date#23, None) AS order_date#43, trim(status#24, None) AS status#44]
         +- Filter ((isnotnull(trim(order_id#17, None)) AND isnotnull(cast(coalesce(gettimestamp(trim(order_date#23, None), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date))) AND CASE WHEN RLIKE(trim(amount#22, None), ^[0-9]+$) THEN isnotnull(cast(trim(amount#22, None) as int)) ELSE false END)
            +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Filter (isnotnull(status#797) AND (status#797 = Completed))
   +- SortAggregate(key=[order_id#37], functions=[first(customer_id#38, false), first(city#79, false), first(category#80, false), first(product#81, false), first(amount#149, false), first(order_date#183, false), first(status#44, false)], output=[order_id#37, customer_id#785, city#787, category#789, product#791, amount#793, order_date#795, status#797])
      +- Sort [order_id#37 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(order_id#37, 200), ENSURE_REQUIREMENTS, [plan_id=971]
            +- SortAggregate(key=[order_id#37], functions=[partial_first(customer_id#38, false), partial_first(city#79, false), partial_first(category#80, false), partial_first(product#81, false), partial_first(amount#149, false), partial_first(order_date#183, false), partial_first(status#44, false)], output=[order_id#37, first#812, valueSet#813, first#814, valueSet#815, first#816, valueSet#817, first#818, valueSet#819, first#820, valueSet#821, first#822, valueSet#823, first#824, valueSet#825])
               +- Sort [order_id#37 ASC NULLS FIRST], false, 0
                  +- Project [order_id#37, customer_id#38, city#79, category#80, product#81, CASE WHEN RLIKE(amount#42, ^[0-9]+$) THEN cast(amount#42 as int) END AS amount#149, cast(coalesce(gettimestamp(order_date#43, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#43, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date#183, status#44]
                     +- Project [trim(order_id#17, None) AS order_id#37, trim(customer_id#18, None) AS customer_id#38, initcap(lower(trim(city#19, None))) AS city#79, initcap(lower(trim(category#20, None))) AS category#80, initcap(lower(trim(product#21, None))) AS product#81, trim(amount#22, None) AS amount#42, trim(order_date#23, None) AS order_date#43, trim(status#24, None) AS status#44]
                        +- Filter ((isnotnull(trim(order_id#17, None)) AND isnotnull(cast(coalesce(gettimestamp(trim(order_date#23, None), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), MM/dd/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(trim(order_date#23, None), yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date))) AND CASE WHEN RLIKE(trim(amount#22, None), ^[0-9]+$) THEN isnotnull(cast(trim(amount#22, None) as int)) ELSE false END)
                           +- FileScan csv [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] Batched: false, DataFilters: [isnotnull(trim(order_id#17, None)), isnotnull(cast(coalesce(gettimestamp(trim(order_date#23, Non..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/orders_raw.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,city:string,category:string,product:string,amount:strin...

In [23]:
#14
repartitioned_df = filtered_df.repartition("city")
repartitioned_df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000024|    C000024|Bangalore|       Home|      Mixer| 18082|2024-01-25|Completed|
|ORD00000025|    C000025|Bangalore|       Home|Airpurifier| 58248|2024-01-26|Completed|
|ORD00000124|    C000124|Bangalore|    Grocery|      Sugar| 54296|2024-01-05|Completed|
|ORD00000159|    C000159|Bangalore|Electronics|     Tablet| 89397|2024-02-09|Completed|
|ORD00000196|    C000196|Bangalore|       Home|     Vacuum| 70321|2024-01-17|Completed|
|ORD00000201|    C000201|Bangalore|Electronics|     Mobile| 27502|2024-01-22|Completed|
|ORD00000212|    C000212|Bangalore|Electronics|     Mobile| 59529|2024-02-02|Completed|
|ORD00000215|    C000215|Bangalore|       Home|      Mixer| 37102|2024-02-05|Completed|
|ORD00000223|    C000223|Bangalore|       Home|      Mixer| 28478|2024-02-13|Completed|
|ORD00000237|    C000237|Bangalore|Electronics|     Laptop| 72945|2024-02-27|Completed|
|ORD00000239|    C000239|Bangalore|Electronics|     Tablet| 32659|2024-02-29|Completed|
|ORD00000241|    C000241|Bangalore|Electronics|     Tablet| 26022|2024-01-02|Completed|
|ORD00000255|    C000255|Bangalore|    Grocery|       Rice|  6742|2024-01-16|Completed|
|ORD00000268|    C000268|Bangalore|       Home|Airpurifier| 32698|2024-01-29|Completed|
|ORD00000269|    C000269|Bangalore|       Home|     Vacuum| 68737|2024-01-30|Completed|
|ORD00000277|    C000277|Bangalore|Electronics|     Tablet| 26273|2024-02-07|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows

In [ ]:
#15
#filtered_df should be cached because it is used multiple times and avoids recomputation

Section 5 — Analytics

16. Calculate total revenue per city.
17. Calculate total revenue per category.
18. Identify top 5 products by revenue.
19. Calculate average order value per city.

In [28]:
#16
city_rev = filtered_df.groupBy("city").agg(sum("amount").alias("total_revenue"))
city_rev.show()

#17
category_rev = filtered_df.groupBy("category").agg(sum("amount").alias("total_revenue"))
category_rev.show()

#18
product_rev = filtered_df.groupBy("product").agg(sum("amount").alias("revenue")).orderBy(col("revenue").desc())
top_prod = product_rev.limit(5)
top_prod.show()

#19
city_avg = filtered_df.groupBy("city").agg(avg("amount").alias("avg_order_value"))
city_avg.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|Bangalore|   1595074422|
|  Chennai|   1594948816|
|   Mumbai|   1592800385|
|  Kolkata|   1589940642|
|     Pune|   1611282681|
|    Delhi|   1602665640|
|Hyderabad|   1609240412|
+---------+-------------+

+-----------+-------------+
|   category|total_revenue|
+-----------+-------------+
|       Home|   2808394769|
|    Fashion|   2774418007|
|    Grocery|   2806744668|
|Electronics|   2806395554|
+-----------+-------------+

+-------+---------+
|product|  revenue|
+-------+---------+
|    Oil|943582283|
| Laptop|943169707|
| Tablet|939977603|
| Vacuum|939615394|
|  Mixer|937101483|
+-------+---------+

+---------+------------------+
|     city|   avg_order_value|
+---------+------------------+
|Bangalore| 45573.55491428571|
|  Chennai| 45094.54086912268|
|   Mumbai|45190.954576405835|
|  Kolkata| 45229.15944585099|
|     Pune|45417.670067931336|
|    Delhi|45331.946597273294|
|Hyderabad|   45209.732041017|
+---------+------------------+

Section 6 — Window Functions

20. Rank cities by total revenue.
21. Rank products within each category by revenue.
22. Identify the top product per category.

In [29]:
#20
city_window = Window.orderBy(col("total_revenue").desc())
city_rank = city_rev.withColumn("rank", rank().over(city_window))
city_rank.show()

+---------+-------------+----+
|     city|total_revenue|rank|
+---------+-------------+----+
|     Pune|   1611282681|   1|
|Hyderabad|   1609240412|   2|
|    Delhi|   1602665640|   3|
|Bangalore|   1595074422|   4|
|  Chennai|   1594948816|   5|
|   Mumbai|   1592800385|   6|
|  Kolkata|   1589940642|   7|
+---------+-------------+----+

In [31]:
#21
cat_window = Window.partitionBy("category").orderBy(col("revenue").desc())
product_rank = filtered_df.groupBy("category","product").agg(sum("amount").alias("revenue")).withColumn("rank", rank().over(cat_window))
product_rank.show()

+-----------+-----------+---------+----+
|   category|    product|  revenue|rank|
+-----------+-----------+---------+----+
|Electronics|     Laptop|943169707|   1|
|Electronics|     Tablet|939977603|   2|
|Electronics|     Mobile|923248244|   3|
|    Fashion|      Jeans|930910809|   1|
|    Fashion|      Shoes|926552299|   2|
|    Fashion|     Tshirt|916954899|   3|
|    Grocery|        Oil|943582283|   1|
|    Grocery|       Rice|934334225|   2|
|    Grocery|      Sugar|928828160|   3|
|       Home|     Vacuum|939615394|   1|
|       Home|      Mixer|937101483|   2|
|       Home|Airpurifier|931677892|   3|
+-----------+-----------+---------+----+

In [34]:
#22
top_product = product_rank.filter(col("rank") == 1).drop("rank")
top_product.show()

+-----------+-------+---------+
|   category|product|  revenue|
+-----------+-------+---------+
|Electronics| Laptop|943169707|
|    Fashion|  Jeans|930910809|
|    Grocery|    Oil|943582283|
|       Home| Vacuum|939615394|
+-----------+-------+---------+

Section 7 — Storage Strategy

23. Write the cleaned dataset to Parquet partitioned by city .
24. Write aggregated analytics to ORC
25. Explain why CSV is not suitable for analytics output

In [36]:
#23
filtered_df.write.mode("overwrite").partitionBy("city").parquet("/data/orders_parquet")

In [37]:
#24
city_rev.write.mode("overwrite").orc("/data/city_revenue_orc")

In [ ]:
#25
#CSV is not suitable for analytics because of :
#lack of schema enforcement
#it is not compressed
#has slow I/O

Section 8 — Debugging & Reasoning

26. Explain why the following line causes failure:
df = df.filter(df.amount > 50000).show()
27. Describe how you would debug a slow Spark job.
28. Identify risks of over-caching DataFrames

In [ ]:
#26
df = df.filter(df.amount > 50000).show()
#.show() returns None
#Assigning df with .show() overwrites it with None therefore pipline breaks

#correct way
df.filter(df.amount > 50000).show()

In [ ]:
#27
#To Debug a slow Spark job
#Reduce Shuffles
#Use explain(True)
#Cache effectively

In [ ]:
#28
#Risk of over-caching are :
#Slower jobs due to spills
#Memory pressure